.general-account-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.general-account-section .general-account-div {
  padding: 0px 0;
  margin: 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.general-account-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.full-account-div {
  padding: 30px 40px;
  background: #FFFFFF;
  border: 3px solid #C2A5EF;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 200px);
}

.full-account-div .question-box {
  position: absolute;
  top: 0;
  right: 0;
}

.full-account-div .question-box .icon-question {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.full-account-div .general-title {
  position: relative;
  padding: 5px 0 0 0;
  margin: 0 0 40px 0;
}

.full-account-div .general-title .center-text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 30px;
  position: relative;
  font-family: 'Omnes';
}

.full-account-div .general-title .center-text-block h2 {
  font-size: 18px;
  line-height: 26px;
  color: #3F3F44;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.full-account-div .general-title .center-text-block h2 .img-emoji {
  margin: 0 0 0 10px;
}

.form-div {
  min-height: calc(100vh - 555px);
}

.view-character-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.view-character-div .center-character-thumb {
  padding: 40px 0 30px 0;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.view-character-div .center-character-thumb img.img-character {
  width: 200px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .full-account-div {
    padding: 30px 20px;
  }
  .general-account-root {
    margin: 0 0 10px 0;
  }
  .view-character-div .center-character-thumb img.img-character {
    width: 150px;
  }
}
/*# sourceMappingURL=create-account-invite.css.map */