@mixin omnes-family { font-family: 'Omnes'; }


.login-section{ padding: 0; margin: 0; position: relative; background-color: #652D90; 
    .login-div { padding: 0px 0; margin: 0; position: relative; background-repeat: no-repeat; background-size: cover; background-position: right; min-height: 100vh; }

    // .general-header-div .general-header-row{
    //     .img-logo { padding: 15px 0 0 0; }
    // }
    
}

.login-root{ min-height: calc(100vh - 150px); padding: 60px 0 35px 0; 
    display: flex; align-items: flex-start; flex-direction: column; flex-wrap: wrap; justify-content: flex-start;  }

.login-main-area { padding: 30px 40px; background-color: #652D90; border: 1px solid #ffffff; 
    // box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50); 
    border-radius: 4px; width: 100%; height: 100%; min-height: calc(100vh - 231px);

    .general-title{ position: relative; padding: 20px 0 0 0; margin: 0 0 50px 0;
        .center-text-block { display: flex; align-items: center; justify-content: center; padding: 20px 30px; margin: 0 0 10px 0; position: relative; @include omnes-family();
            h1 { font-size: 24px; color: #FFFFFF; letter-spacing: 0; text-align: center; line-height: 36px; margin: 0; display: block; font-weight: 500; @include omnes-family(); }
        }
    }

    .top-title-div { padding: 0; margin: 0 auto 40px auto; width: 100%; }

    .acc-row {
        display: flex; align-items: center; justify-content: center;
        p{ font-size: 16px; line-height: 24px; color: #FFFFFF; text-decoration: none; font-weight: 500; display: flex; letter-spacing: 0.58px; align-items: center; flex-wrap: wrap;  }
        .white-link { color: inherit; line-height: 32px; padding: 0;
            .img-smile-icon { height: 24px; width: 24px; object-fit: contain; margin: 0 0 0 5px; }
            // &:hover{ color: #C2A5EF; }
        }
        .text-decoration { text-decoration: underline; }
    }
}

.form-white-div { padding: 0; margin: 0; position: relative; 

    .form-group{ margin: 0 auto 20px auto; max-width: calc(100% - 70px); width: 100%;
        label { font-size: 24px; color: #FFFFFF; letter-spacing: 0; line-height: 30px; font-weight: 500; margin: 0 0 10px 0; }
        .form-control { background: #FFFFFF; border: 4px solid #FFFFFF; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50); border-radius: 8px; min-height: 70px; margin: 0 0 5px 0; font-size: 24px; padding: 10px 15px; color: #000000; 
            &::-webkit-input-placeholder{ color: #3F3F44; }
            &::-moz-placeholder{ color: #3F3F44; }
            &:-ms-input-placeholder{ color: #3F3F44; }
            &:-moz-placeholder{ color: #3F3F44; }
        }
    }
    
    .forgot-row { display: flex; justify-content: flex-start; width: 100%; 
        .white-link { font-size: 16px; line-height: 24px; color: #FFFFFF; letter-spacing: 0; text-align: right; text-decoration: none; font-weight: 500; }
    }

    .button-group { padding: 0; margin: 0 auto 70px auto; width: 100%; display: flex; justify-content: center; }
    
    .btn.btn-white {
        background-color: #FFFFFF; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50); border-radius: 100px; min-height: 60px; padding: 10px 40px; font-size: 24px; color: #3F3F44; transition: all 0.8s; font-weight: 500; min-width: 210px;
        &:hover, &:focus{
            background-color: #C2A5EF; color: #FFFFFF; outline: none;
        }
    }

   

}

.login-min-area { min-height: 300px; }
.center-row{ min-height: calc(100vh - 480px); align-items: center; justify-content: center; }


.footer-login{ 
    &.footer-root {
        .footer-bottom {
            .link-ul-list {
                li{ color: #ffffff; }
                .link-footer {
                    color: #ffffff;
                    &:hover{ color: #C2A5EF; }
                }
            }
        }
    }
        
}

.error-box {
    padding: 10px 0 20px 0; margin: 0px 0 0px 0; 
    .error-text{ font-size: 16px; }
}




@media (max-width: 767px) {

    // .login-section { 
    //     // .login-div { padding: 15px 0; } 

    //     .general-header-div .general-header-row .img-logo{ padding: 0; }
    //     .general-header-div .logo-thumb { width: 40%; }


    // }

    // header .header-div .logo-div { min-height: 50px; }

    .login-main-area {
        padding: 30px 20px;
        .top-title-div { margin: 0 auto 25px auto; max-width: 300px; }
        .general-title { margin: 0 0 50px 0;
            .center-text-block {
                h1 { font-size: 22px; line-height: 30px;  }
            }
        }
    }

    .login-root {
        padding: 35px 0 15px 0;
        // min-height: calc(100vh - 160px);
    }
    
    .form-white-div {
        .form-group {
            margin: 0 auto 20px auto; max-width: 100%;
            label { font-size: 16px; line-height: 24px; margin: 0 0 8px 0; }
            .form-control { border: 2px solid #FFFFFF; min-height: 50px; margin: 0 0 10px 0; font-size: 16px; padding: 8px 15px 6px 15px; }
        }

        .forgot-row {
            .white-link { font-size: 14px; }
        }

        .btn.btn-white { border-radius: 100px; min-height: 44px; padding: 6px 30px; font-size: 16px; min-width: 150px; }

        .acc-row{
            p{ font-size: 13px; line-height: 18px; }
            .white-link {
                .img-smile-icon { height: 21px; width: 21px; margin: 0 0 0 5px; }
            }
        } 

        .button-group{
            margin: 0 auto 40px auto;
        }
    
    }

    .login-min-area { min-height: 250px; }
    
    .login-middle-area .form-white-div .form-group { margin: 0 auto 20px auto; }
    .error-box { padding: 0 0 10px 0; }
    .center-row {  min-height: calc(100vh - 455px); }


    .error-box {
        .error-text{ font-size: 14px; }
    }

    
}

@media (min-width: 768px) and (max-width: 1024px) {

   

}




