.login-section {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #652D90;
}

.login-section .login-div {
  padding: 0px 0;
  margin: 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  min-height: 100vh;
}

.login-root {
  min-height: calc(100vh - 150px);
  padding: 60px 0 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.login-main-area {
  padding: 30px 40px;
  background-color: #652D90;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 231px);
}

.login-main-area .general-title {
  position: relative;
  padding: 20px 0 0 0;
  margin: 0 0 50px 0;
}

.login-main-area .general-title .center-text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 30px;
  margin: 0 0 10px 0;
  position: relative;
  font-family: 'Omnes';
}

.login-main-area .general-title .center-text-block h1 {
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 36px;
  margin: 0;
  display: block;
  font-weight: 500;
  font-family: 'Omnes';
}

.login-main-area .top-title-div {
  padding: 0;
  margin: 0 auto 40px auto;
  width: 100%;
}

.login-main-area .acc-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-main-area .acc-row p {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.58px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.login-main-area .acc-row .white-link {
  color: inherit;
  line-height: 32px;
  padding: 0;
}

.login-main-area .acc-row .white-link .img-smile-icon {
  height: 24px;
  width: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 0 0 5px;
}

.login-main-area .acc-row .text-decoration {
  text-decoration: underline;
}

.form-white-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.form-white-div .form-group {
  margin: 0 auto 20px auto;
  max-width: calc(100% - 70px);
  width: 100%;
}

.form-white-div .form-group label {
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 30px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.form-white-div .form-group .form-control {
  background: #FFFFFF;
  border: 4px solid #FFFFFF;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  min-height: 70px;
  margin: 0 0 5px 0;
  font-size: 24px;
  padding: 10px 15px;
  color: #000000;
}

.form-white-div .form-group .form-control::-webkit-input-placeholder {
  color: #3F3F44;
}

.form-white-div .form-group .form-control::-moz-placeholder {
  color: #3F3F44;
}

.form-white-div .form-group .form-control:-ms-input-placeholder {
  color: #3F3F44;
}

.form-white-div .form-group .form-control:-moz-placeholder {
  color: #3F3F44;
}

.form-white-div .forgot-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.form-white-div .forgot-row .white-link {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: right;
  text-decoration: none;
  font-weight: 500;
}

.form-white-div .button-group {
  padding: 0;
  margin: 0 auto 70px auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-white-div .btn.btn-white {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  min-height: 60px;
  padding: 10px 40px;
  font-size: 24px;
  color: #3F3F44;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  font-weight: 500;
  min-width: 210px;
}

.form-white-div .btn.btn-white:hover, .form-white-div .btn.btn-white:focus {
  background-color: #C2A5EF;
  color: #FFFFFF;
  outline: none;
}

.login-min-area {
  min-height: 300px;
}

.center-row {
  min-height: calc(100vh - 480px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-login.footer-root .footer-bottom .link-ul-list li {
  color: #ffffff;
}

.footer-login.footer-root .footer-bottom .link-ul-list .link-footer {
  color: #ffffff;
}

.footer-login.footer-root .footer-bottom .link-ul-list .link-footer:hover {
  color: #C2A5EF;
}

.error-box {
  padding: 10px 0 20px 0;
  margin: 0px 0 0px 0;
}

.error-box .error-text {
  font-size: 16px;
}

@media (max-width: 767px) {
  .login-main-area {
    padding: 30px 20px;
  }
  .login-main-area .top-title-div {
    margin: 0 auto 25px auto;
    max-width: 300px;
  }
  .login-main-area .general-title {
    margin: 0 0 50px 0;
  }
  .login-main-area .general-title .center-text-block h1 {
    font-size: 22px;
    line-height: 30px;
  }
  .login-root {
    padding: 35px 0 15px 0;
  }
  .form-white-div .form-group {
    margin: 0 auto 20px auto;
    max-width: 100%;
  }
  .form-white-div .form-group label {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 8px 0;
  }
  .form-white-div .form-group .form-control {
    border: 2px solid #FFFFFF;
    min-height: 50px;
    margin: 0 0 10px 0;
    font-size: 16px;
    padding: 8px 15px 6px 15px;
  }
  .form-white-div .forgot-row .white-link {
    font-size: 14px;
  }
  .form-white-div .btn.btn-white {
    border-radius: 100px;
    min-height: 44px;
    padding: 6px 30px;
    font-size: 16px;
    min-width: 150px;
  }
  .form-white-div .acc-row p {
    font-size: 13px;
    line-height: 18px;
  }
  .form-white-div .acc-row .white-link .img-smile-icon {
    height: 21px;
    width: 21px;
    margin: 0 0 0 5px;
  }
  .form-white-div .button-group {
    margin: 0 auto 40px auto;
  }
  .login-min-area {
    min-height: 250px;
  }
  .login-middle-area .form-white-div .form-group {
    margin: 0 auto 20px auto;
  }
  .error-box {
    padding: 0 0 10px 0;
  }
  .center-row {
    min-height: calc(100vh - 455px);
  }
  .error-box .error-text {
    font-size: 14px;
  }
}
/*# sourceMappingURL=login.css.map */