.general-account-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.general-account-section .general-account-div {
  padding: 0px 0;
  margin: 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.general-account-root {
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.full-account-div {
  padding: 30px 40px;
  background: #FFFFFF;
  border: 3px solid #C2A5EF;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.full-account-div .question-box {
  position: absolute;
  top: 0;
  right: 0;
}

.full-account-div .question-box .icon-question {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.full-account-div .general-title {
  position: relative;
  padding: 5px 0 0 0;
  margin: 0 0 40px 0;
}

.full-account-div .general-title .center-text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 30px;
  position: relative;
  font-family: 'Omnes';
}

.full-account-div .general-title .center-text-block h2 {
  font-size: 18px;
  line-height: 26px;
  color: #3F3F44;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.full-account-div .general-title .center-text-block h2 .img-emoji {
  margin: 0 0 0 10px;
}

.general-content-common-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.content-common-div-box {
  padding: 0;
  margin: 0;
  position: relative;
}

.content-common-div-box p {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  text-align: left;
  margin: 0 0 15px 0;
}

.content-common-div-box p a {
  color: inherit;
  text-decoration: underline;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.content-common-div-box p a:hover, .content-common-div-box p a:focus {
  color: #6F3996;
}

.content-common-div-box .pt-25 {
  padding-top: 25px !important;
}

.content-primary-card {
  background: #F3EDFC;
  border: 1px solid rgba(151, 151, 151, 0.2);
  border-radius: 10px;
  padding: 15px 30px 10px 30px;
  margin: 30px 0 30px 20px;
  position: relative;
  display: block;
}

.content-primary-card ul {
  padding: 0 0px 0 0px;
  margin: 0 0 0px 0;
  list-style: none;
  color: rgba(0, 0, 0, 0.5);
  line-height: 16px;
}

.content-primary-card ul li {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  text-align: left;
  margin: 0 0 15px 0;
  position: relative;
  padding: 0 0 0 19px;
}

.content-primary-card ul li::before {
  content: "";
  height: 4px;
  width: 4px;
  background-color: #000;
  border-radius: 100px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 8px;
}

.content-primary-card ul li:last-child {
  margin: 0 0 5px 0;
}

.form-button-common-div {
  padding: 20px 0;
  min-height: auto;
}

.form-button-common-div .center-button-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .full-account-div {
    padding: 30px 20px;
  }
  .general-account-root {
    margin: 0 0 10px 0;
  }
  .content-primary-card {
    padding: 15px 20px 10px 20px;
    margin: 30px 0 30px 0px;
  }
  .content-primary-card ul li {
    padding: 0 0 0 14px;
  }
}
/*# sourceMappingURL=privacy-and-security.css.map */