@mixin omnes-family { font-family: 'Omnes'; }


.general-account-section{ padding: 0; margin: 0; position: relative; 
    .general-account-div { padding: 0px 0; margin: 0; position: relative;background-repeat: no-repeat; background-size: cover; background-position: right; }
}
.general-account-root{     padding-bottom: 25px;
    // min-height: calc(100vh - 120px); padding: 10px 0; 
    display: flex; align-items: flex-start; flex-direction: column; flex-wrap: wrap; justify-content: flex-start;  }

.full-account-div { padding: 30px 40px; background: #FFFFFF; border: 3px solid #C2A5EF; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50); border-radius: 4px; width: 100%; height: 100%; 
    // min-height: calc(100vh - 200px); 

    .question-box { position: absolute; top: 0; right: 0; 
        .icon-question { width: 24px; height: 24px; object-fit: contain; object-position: center; }
    }

    .general-title{ position: relative; padding: 5px 0 0 0; margin: 0 0 40px 0; 
        .center-text-block { display: flex; align-items: center; justify-content: center; padding: 0px 30px; position: relative; @include omnes-family();
            h2 { font-size: 18px; line-height: 26px; color: #3F3F44; display: flex; align-items: center; font-weight: 500;
                .img-emoji { margin: 0 0 0 10px; }
            }
        }
    }

}

// .general-content-common-div { min-height: calc(100vh - 500px); }

.general-content-common-div{ padding: 0; margin: 0; position: relative;  }

.content-common-div-box{
    padding: 0; margin: 0; position: relative; 
    p { font-size: 14px; line-height: 1.3; font-weight: 400; color: #000000; letter-spacing: 0; text-align: left; margin: 0 0 15px 0; 
        a{  color: inherit; text-decoration: underline; transition: all 0.8s;
            &:hover, &:focus{ color: #6F3996; }
        }
    }

    .pt-25{ padding-top: 25px !important; }

}

.content-primary-card { background: #F3EDFC; border: 1px solid rgba(151, 151, 151, 0.2); border-radius: 10px; padding: 15px 30px 10px 30px; margin: 30px 0 30px 20px; position: relative; display: block;
    ul { padding: 0 0px 0 0px; margin: 0 0 0px 0; list-style: none; color: rgba(0, 0, 0, 0.5); line-height: 16px; 
        li{ font-size: 14px; line-height: 1.3; font-weight: 400; color: #000000; letter-spacing: 0; text-align: left; margin: 0 0 15px 0; position: relative; padding: 0 0 0 19px;
            &::before{
                content: ""; height: 4px; width: 4px; background-color: #000; border-radius: 100px; display: inline-block; position: absolute; left: 0; top: 8px;
            }
            &:last-child{ margin: 0 0 5px 0; }
        }
    }
}

.form-button-common-div{
    padding: 20px 0; min-height: auto;
    .center-button-row { justify-content: center; }
}



@media (max-width: 767px) {

    .full-account-div { padding: 30px 20px; }

    .general-account-root { margin: 0 0 10px 0; }
    
    .content-primary-card { padding: 15px 20px 10px 20px; margin: 30px 0 30px 0px; 
        ul{
            li{ padding: 0 0 0 14px; }
        } 
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
   
    

}