@mixin omnes-family { font-family: 'Omnes'; }


.general-account-section{ padding: 0; margin: 0; position: relative; 
    .general-account-div { padding: 0px 0; margin: 0; position: relative;background-repeat: no-repeat; background-size: cover; background-position: right; }
}
.general-account-root{ 
    // min-height: calc(100vh - 120px); padding: 10px 0; 
    display: flex; align-items: flex-start; flex-direction: column; flex-wrap: wrap; justify-content: flex-start;  }

.full-account-div { padding: 30px 40px; background: #FFFFFF; border: 3px solid #C2A5EF; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50); border-radius: 4px; width: 100%; height: 100%; 
    // min-height: calc(100vh - 200px); 

    .question-box { position: absolute; top: 0; right: 0; 
        .icon-question { width: 24px; height: 24px; object-fit: contain; object-position: center; }
    }

    .general-title{ position: relative; padding: 5px 0 0 0; margin: 0 0 40px 0; 
        .center-text-block { display: flex; align-items: center; justify-content: center; padding: 0px 30px; position: relative; @include omnes-family();
            h2 { font-size: 18px; line-height: 26px; color: #3F3F44; display: flex; align-items: center; font-weight: 500;
                .img-emoji { margin: 0 0 0 10px; }
            }
        }
    }

}

.view-character-div{
    padding: 0; margin: 0; position: relative; 
    .center-character-thumb { padding: 40px 0 30px 0; margin: 0 auto; position: relative; text-align: center;    
        img.img-character { width: 200px; margin: 0 auto; }
    }
}

/* verify email css */

.content-general-text-div{
    padding: 0; margin: 0; position: relative; 
    .content-general-box{
        @include omnes-family(); max-width: 270px; margin: 0 auto; padding:20px 0 30px 0;
        p { font-size: 14px; color: #3F3F44; letter-spacing: 0; text-align: center; font-family: inherit; margin: 0 0 15px 0; font-weight: 400;   }
    }
    .content-general-box2{  padding: 10px 0 20px 0; }
}

.center-button-div { display: flex; justify-content: center; margin: 0 0 10px 0; }

/* min-height char */

.verify-email-account-root{
    .content-general-text-div {
        min-height: calc(100vh - 534px);
    }
}

/* End of min-height char  */


.btn-common{ font-weight: 500; }



@media (max-width: 767px) {

    .full-account-div { padding: 30px 20px; }

    .general-account-root { margin: 0 0 10px 0; }

    .view-character-div {
        .center-character-thumb {
            img.img-character {
                width: 150px;
            }
        }
    }

    /* min-height char */

    // .verify-email-account-root {
    //     min-height: calc(100vh - 130px);
    // }


    /* End of min-height char  */
    
    
}

@media (min-width: 768px) and (max-width: 1024px) {
   
    

}