@import url(bootstrap.min.css);
@import url(animate.min.css);
@import url(select-custom.css);
@import url(select2.min.css);
/* colors */
/* End of colors */
/* default css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: white;
  font-family: 'Omnes';
  scroll-behavior: smooth;
}

.wrapper {
  display: block;
  height: 100%;
  min-height: 100vh;
}

.wrapper .btn.focus, .wrapper .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper .btn {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container {
  max-width: 375px;
}

.container-md {
  max-width: 500px;
}

.container-lg {
  max-width: 750px;
}

.container-fluid-max1920 {
  max-width: 1000px;
}

.page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* End of default css */
/*  general css */
.white-color {
  fill: white;
}

.top-minues10 {
  margin-top: -10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px;
}

.p0 {
  padding: 0px !important;
}

.mlr-5 {
  margin-left: -5px !important;
  margin-right: -5px !important;
}

.plr-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

/*  */
.max3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.display_show {
  display: block;
}

.position-fixed {
  position: unset !important;
  overflow: hidden;
}

/* add svg icons */
.menu-bar-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='29px' height='29px' viewBox='0 0 29 29' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 6%3C/title%3E%3Cg id='Group-6' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M5.41224732,29 L5.41224732,0 L1.5,0 L1.5,29 L5.41224732,29 Z M16.4561237,29 L16.4561237,0 L12.5438763,0 L12.5438763,29 L16.4561237,29 Z M27.5,29 L27.5,0 L23.5877527,0 L23.5877527,29 L27.5,29 Z' id='III' fill='%236F3996' fill-rule='nonzero' transform='translate(14.500000, 14.500000) rotate(90.000000) translate(-14.500000, -14.500000) '%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.custom-menu-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.user-icon {
  height: 14px;
  width: 13px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='14px' height='13px' viewBox='0 0 14 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Euser-icon%3C/title%3E%3Cg id='Educator-Insight-Dashboard---Updates' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='i1.01-Insight-Dashboard' transform='translate(-89.000000, -95.000000)' fill='%23652D90' fill-rule='nonzero' stroke='%23652D90' stroke-width='0.631830874'%3E%3Cg id='Header' transform='translate(81.000000, 43.000000)'%3E%3Cg id='user-icon' transform='translate(9.000000, 53.000000)'%3E%3Cpath d='M9.06678691,3.01900946 C9.06678691,4.65621633 7.65855604,5.9856283 5.92428158,5.9856283 C4.19000711,5.9856283 2.77483915,4.65621633 2.77483915,3.01900946 C2.77483915,1.38180259 4.18307001,0.0523906197 5.91734448,0.0523906197 C7.65161895,0.0523906197 9.06678691,1.38180259 9.06678691,3.01900946 Z' id='Path'%3E%3C/path%3E%3Cpath d='M11.7514438,10.8579559 L0.0901822722,10.8579559 C0.0901822722,10.8579559 -0.492533948,8.65100108 1.38741957,7.72761641 C1.78977125,7.53115158 2.24068261,7.45256565 2.69159397,7.45256565 L9.15003208,7.45256565 C9.60094345,7.45256565 10.0518548,7.53115158 10.4542065,7.72761641 C12.33416,8.65100108 11.7514438,10.8579559 11.7514438,10.8579559 Z' id='Path' stroke-linecap='round'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.down-arrow-icon {
  height: 8px;
  width: 14px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='14px' height='8px' viewBox='0 0 14 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath 6%3C/title%3E%3Cg id='Educator-Admin-Dashboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Path-4' transform='translate(1.000000, 1.000000)' stroke='%23414141' stroke-width='1.4'%3E%3Cg id='Path-5'%3E%3Cpolyline id='Path-2' points='0 0 6 6 12 0'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.info-icon {
  height: 15px;
  width: 15px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='15px' height='15px' viewBox='0 0 15 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EInfo-icon%3C/title%3E%3Cg id='Educator-Admin-Dashboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.02-Admin---Add-Students' transform='translate(-212.000000, -146.000000)' fill='%236F3996' fill-rule='nonzero'%3E%3Cg id='Group' transform='translate(212.000000, 146.000000)'%3E%3Cpath d='M7.2291498,0 C3.26477733,0 0,3.26477733 0,7.2291498 C0,11.1935223 3.26477733,14.4582996 7.2291498,14.4582996 C11.1935223,14.4582996 14.4582996,11.1935223 14.4582996,7.2291498 C14.4582996,3.26477733 11.1352227,0 7.2291498,0 Z M7.2291498,13.5255061 C3.78947368,13.5255061 0.932793522,10.6688259 0.932793522,7.2291498 C0.932793522,3.78947368 3.78947368,0.932793522 7.2291498,0.932793522 C10.6688259,0.932793522 13.5255061,3.78947368 13.5255061,7.2291498 C13.5255061,10.6688259 10.6688259,13.5255061 7.2291498,13.5255061 Z' id='Shape'%3E%3C/path%3E%3Cg transform='translate(6.412955, 3.202980)'%3E%3Cpath d='M1.45748988,7.40754656 C1.45748988,7.69904453 1.2242915,7.99054251 0.874493927,7.99054251 L0.699595142,7.99054251 C0.408097166,7.99054251 0.11659919,7.75734413 0.11659919,7.40754656 L0.11659919,2.56868016 C0.11659919,2.27718219 0.349797571,1.98568421 0.699595142,1.98568421 L0.874493927,1.98568421 C1.1659919,1.98568421 1.45748988,2.21888259 1.45748988,2.56868016 L1.45748988,7.40754656 Z' id='Path'%3E%3C/path%3E%3Ccircle id='Oval' cx='0.816194332' cy='0.703093117' r='1'%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.edit-icon {
  height: 15px;
  width: 16px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='15px' height='16px' viewBox='0 0 15 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eedit-icon%3C/title%3E%3Cg id='Educator-Admin-Dashboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='edit-icon' fill='%236F3996' fill-rule='nonzero'%3E%3Cpath d='M11.8570392,12.59712 C11.8570392,13.2899616 11.2901688,13.8410856 10.6130736,13.8410856 L2.5036776,13.8410856 C1.8265824,13.856832 1.259712,13.2899616 1.259712,12.59712 L1.259712,4.5034704 C1.259712,3.8106288 1.8265824,3.2595048 2.5036776,3.2595048 L6.5505024,3.2595048 L7.7314824,2.0785248 L2.5036776,2.0785248 C1.1652336,2.0785248 0.078732,3.1650264 0.078732,4.5034704 L0.078732,12.59712 C0.078732,13.935564 1.1652336,15.0220656 2.5036776,15.0220656 L10.6130736,15.0220656 C11.9515176,15.0220656 13.0380192,13.935564 13.0380192,12.59712 L13.0380192,7.3693152 L11.8570392,8.5502952 L11.8570392,12.59712 Z' id='Path'%3E%3C/path%3E%3Cpath d='M14.6126592,2.0627784 L13.069512,0.5196312 C12.5026416,-0.0472392 11.573604,-0.0472392 10.9909872,0.5196312 L4.2830208,7.2118512 C4.2042888,7.2905832 4.1413032,7.400808 4.1255568,7.5110328 L3.3697296,11.0539728 C3.3224904,11.2429296 3.385476,11.4476328 3.5271936,11.5893504 C3.6689112,11.731068 3.8736144,11.7940536 4.0625712,11.7468144 L7.6055112,10.9909872 C7.715736,10.9594944 7.8259608,10.9122552 7.9046928,10.8335232 L14.5969128,4.1413032 C15.1795296,3.5586864 15.1795296,2.6296488 14.6126592,2.0627784 Z M4.7081736,10.4083704 L5.196312,8.0936496 L7.007148,9.9044856 L4.7081736,10.4083704 Z M7.9361856,9.132912 L5.983632,7.1803584 L10.3453848,2.8186056 L12.2979384,4.7711592 L7.9361856,9.132912 Z M13.7781,3.2909976 L13.148244,3.9366 L11.179944,1.9840464 L11.8255464,1.338444 C11.9357712,1.2282192 12.124728,1.2282192 12.2349528,1.338444 L13.7781,2.8815912 C13.8883248,3.0075624 13.8883248,3.1807728 13.7781,3.2909976 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.cancel-round-icon {
  height: 24px;
  width: 24px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ecancel-round-icon%3C/title%3E%3Cg id='Educator-Admin-Dashboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='cancel-round-icon' fill='%236F3996' fill-rule='nonzero'%3E%3Cpath d='M16.2984375,14.8992188 C16.0359375,14.6367188 15.7734375,14.3742188 15.5085937,14.109375 C14.8804688,13.48125 14.2523437,12.853125 13.6242188,12.225 C12.8648438,11.465625 12.1054688,10.70625 11.3460938,9.946875 C10.6875,9.28828125 10.0265625,8.62734375 9.36796875,7.96875 C9.04921875,7.65 8.7328125,7.32421875 8.409375,7.01015625 C8.4046875,7.00546875 8.4,7.00078125 8.3953125,6.99609375 C8.0484375,6.64921875 7.4109375,6.62109375 7.06875,6.99609375 C6.7265625,7.3734375 6.6984375,7.95 7.06875,8.32265625 C7.33125,8.58515625 7.59375,8.84765625 7.85859375,9.1125 C8.48671875,9.740625 9.11484375,10.36875 9.74296875,10.996875 C10.5023437,11.75625 11.2617188,12.515625 12.0210938,13.275 C12.6796875,13.9335938 13.340625,14.5945313 13.9992188,15.253125 C14.3179688,15.571875 14.634375,15.8976563 14.9578125,16.2117188 C14.9625,16.2164063 14.9671875,16.2210938 14.971875,16.2257813 C15.31875,16.5726563 15.95625,16.6007813 16.2984375,16.2257813 C16.640625,15.8507813 16.66875,15.271875 16.2984375,14.8992188 L16.2984375,14.8992188 Z' id='Path'%3E%3C/path%3E%3Cpath d='M14.9695313,6.99609375 C14.7070312,7.25859375 14.4445313,7.52109375 14.1796875,7.7859375 C13.5515625,8.4140625 12.9234375,9.0421875 12.2953125,9.6703125 C11.5359375,10.4296875 10.7765625,11.1890625 10.0171875,11.9484375 C9.35859375,12.6070313 8.69765625,13.2679688 8.0390625,13.9265625 C7.7203125,14.2453125 7.39453125,14.5617188 7.08046875,14.8851563 C7.07578125,14.8898438 7.07109375,14.8945312 7.06640625,14.8992188 C6.71953125,15.2460938 6.69140625,15.8835938 7.06640625,16.2257813 C7.44375,16.5679688 8.0203125,16.5960938 8.39296875,16.2257813 C8.65546875,15.9632813 8.91796875,15.7007813 9.1828125,15.4359375 C9.8109375,14.8078125 10.4390625,14.1796875 11.0671875,13.5515625 C11.8265625,12.7921875 12.5859375,12.0328125 13.3453125,11.2734375 C14.0039063,10.6148438 14.6648438,9.95390625 15.3234375,9.2953125 C15.6421875,8.9765625 15.9679688,8.66015625 16.2820313,8.33671875 C16.2867188,8.33203125 16.2914063,8.32734375 16.2960938,8.32265625 C16.6429688,7.97578125 16.6710938,7.33828125 16.2960938,6.99609375 C15.9210938,6.65390625 15.3421875,6.62578125 14.9695313,6.99609375 L14.9695313,6.99609375 Z' id='Path'%3E%3C/path%3E%3Cpath d='M18.5132813,4.73671875 C18.853125,5.0765625 19.1671875,5.4375 19.4578125,5.8171875 C19.4085938,5.7515625 19.3570313,5.68359375 19.3054687,5.61796875 C19.875,6.365625 20.34375,7.1859375 20.7,8.05546875 C20.6695313,7.98046875 20.6390625,7.90546875 20.60625,7.83046875 C20.9507813,8.68125 21.1851563,9.57421875 21.3046875,10.4859375 C21.2953125,10.40625 21.2859375,10.3265625 21.2742187,10.246875 C21.3890625,11.1609375 21.3914062,12.0890625 21.2742187,13.0054687 C21.2835938,12.9257812 21.2929688,12.8460937 21.3046875,12.7664062 C21.1851562,13.678125 20.9507813,14.56875 20.60625,15.421875 C20.6367188,15.346875 20.6671875,15.271875 20.7,15.196875 C20.34375,16.0664062 19.875,16.8867187 19.3054687,17.634375 C19.3546875,17.56875 19.40625,17.5007812 19.4578125,17.4351562 C18.8742188,18.196875 18.1921875,18.8789062 17.4304687,19.4625 C17.4960938,19.4132812 17.5640625,19.3617187 17.6296875,19.3101562 C16.8820313,19.8796875 16.0617188,20.3484375 15.1921875,20.7046875 C15.2671875,20.6742187 15.3421875,20.64375 15.4171875,20.6109375 C14.5664062,20.9554687 13.6734375,21.1898437 12.7617188,21.309375 C12.8414063,21.3 12.9210937,21.290625 13.0007813,21.2789062 C12.0867188,21.39375 11.1585938,21.3960937 10.2421875,21.2789062 C10.321875,21.2882812 10.4015625,21.2976562 10.48125,21.309375 C9.56953125,21.1898437 8.67890625,20.9554687 7.82578125,20.6109375 C7.90078125,20.6414062 7.97578125,20.671875 8.05078125,20.7046875 C7.18125,20.3484375 6.3609375,19.8796875 5.61328125,19.3101562 C5.67890625,19.359375 5.746875,19.4109375 5.8125,19.4625 C5.05078125,18.8789062 4.36875,18.196875 3.78515625,17.4351562 C3.834375,17.5007812 3.8859375,17.56875 3.9375,17.634375 C3.36796875,16.8867187 2.89921875,16.0664062 2.54296875,15.196875 C2.5734375,15.271875 2.60390625,15.346875 2.63671875,15.421875 C2.2921875,14.5710937 2.0578125,13.678125 1.93828125,12.7664062 C1.94765625,12.8460937 1.95703125,12.9257812 1.96875,13.0054687 C1.85390625,12.0914063 1.8515625,11.1632812 1.96875,10.246875 C1.959375,10.3265625 1.95,10.40625 1.93828125,10.4859375 C2.0578125,9.57421875 2.2921875,8.68359375 2.63671875,7.83046875 C2.60625,7.90546875 2.57578125,7.98046875 2.54296875,8.05546875 C2.89921875,7.1859375 3.36796875,6.365625 3.9375,5.61796875 C3.88828125,5.68359375 3.83671875,5.7515625 3.78515625,5.8171875 C4.36875,5.05546875 5.05078125,4.3734375 5.8125,3.78984375 C5.746875,3.8390625 5.67890625,3.890625 5.61328125,3.9421875 C6.3609375,3.37265625 7.18125,2.90390625 8.05078125,2.54765625 C7.97578125,2.578125 7.90078125,2.60859375 7.82578125,2.64140625 C8.6765625,2.296875 9.56953125,2.0625 10.48125,1.94296875 C10.4015625,1.95234375 10.321875,1.96171875 10.2421875,1.9734375 C11.15625,1.85859375 12.084375,1.85625 13.0007813,1.9734375 C12.9210938,1.9640625 12.8414063,1.9546875 12.7617188,1.94296875 C13.6734375,2.0625 14.5640625,2.296875 15.4171875,2.64140625 C15.3421875,2.6109375 15.2671875,2.58046875 15.1921875,2.54765625 C16.0617188,2.90390625 16.8820313,3.37265625 17.6296875,3.9421875 C17.5640625,3.89296875 17.4960938,3.84140625 17.4304687,3.78984375 C17.8148438,4.08046875 18.1734375,4.396875 18.5132813,4.73671875 C18.8601562,5.08359375 19.4976563,5.11171875 19.8398438,4.73671875 C20.1820313,4.36171875 20.2101563,3.7828125 19.8398438,3.41015625 C18.9890625,2.5640625 18.0023438,1.83515625 16.9335938,1.2890625 C15.9,0.76171875 14.784375,0.3796875 13.6382813,0.18515625 C13.040625,0.084375 12.4335938,0.02109375 11.8242188,0.009375 C11.2101563,-0.00234375 10.6007812,0.04921875 9.99375,0.13125 C8.840625,0.28359375 7.725,0.63046875 6.67265625,1.11796875 C5.5921875,1.61484375 4.59375,2.30390625 3.721875,3.1125 C2.8359375,3.93046875 2.071875,4.903125 1.48359375,5.95546875 C0.91875,6.96796875 0.496875,8.08125 0.2625,9.21796875 C0.028125,10.3429688 -0.0515625,11.5078125 0.0609375,12.6515625 C0.11953125,13.2632813 0.21328125,13.8703125 0.36328125,14.465625 C0.51328125,15.0632812 0.721875,15.6398437 0.95625,16.2046875 C1.415625,17.30625 2.06953125,18.3164062 2.84296875,19.2234375 C3.63046875,20.1421875 4.58203125,20.9390625 5.615625,21.5695313 C6.609375,22.171875 7.71328125,22.6265625 8.84296875,22.903125 C9.95625,23.175 11.1257812,23.2898438 12.2695312,23.2195312 C13.415625,23.1492187 14.559375,22.9289063 15.6351562,22.5210938 C16.2210938,22.3007813 16.7929688,22.0476562 17.334375,21.740625 C17.8851563,21.4289063 18.4007813,21.065625 18.8976563,20.671875 C19.8539063,19.9171875 20.671875,18.99375 21.3445313,17.9789063 C21.9914063,17.0039062 22.48125,15.9140625 22.8,14.7914063 C23.1140625,13.6875 23.2617188,12.5226563 23.2359375,11.3765625 C23.2101563,10.2257813 23.0179688,9.06796875 22.6523438,7.978125 C22.2773438,6.86015625 21.7476563,5.79375 21.0492188,4.84453125 C20.6765625,4.33828125 20.278125,3.85546875 19.8351563,3.41015625 C19.4882813,3.06328125 18.8507813,3.03515625 18.5085938,3.41015625 C18.1710938,3.78515625 18.1453125,4.3640625 18.5132813,4.73671875 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.calendar-icon {
  height: 18px;
  width: 18px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='256px' height='256px' viewBox='0 0 256 256' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ecalendar-icon%3C/title%3E%3Cg id='Educator-Insight-Dashboard---Updates' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='calendar-icon' fill='%23652D90' fill-rule='nonzero'%3E%3Cpath d='M229.290667,256 L26.7093333,256 C11.9893333,256 0,244.021333 0,229.290667 L0,48.0533333 C0,33.3226667 11.9893333,21.3333333 26.72,21.3333333 L229.28,21.3333333 C244.010667,21.3333333 256,33.3226667 256,48.0533333 L256,229.290667 C256,244.021333 244.021333,256 229.290667,256 Z M26.72,42.6666667 C23.7546667,42.6666667 21.3333333,45.088 21.3333333,48.0533333 L21.3333333,229.290667 C21.3333333,232.256 23.744,234.666667 26.7093333,234.666667 L229.290667,234.666667 C232.256,234.666667 234.666667,232.256 234.666667,229.290667 L234.666667,48.0533333 C234.666667,45.088 232.245333,42.6666667 229.28,42.6666667 L26.72,42.6666667 Z M245.333333,85.3333333 L10.6666667,85.3333333 C4.77866667,85.3333333 2.84217094e-14,80.5546667 2.84217094e-14,74.6666667 C2.84217094e-14,68.7786667 4.77866667,64 10.6666667,64 L245.333333,64 C251.232,64 256,68.7786667 256,74.6666667 C256,80.5546667 251.232,85.3333333 245.333333,85.3333333 Z M53.3333333,53.3333333 C47.4453333,53.3333333 42.6666667,48.5546667 42.6666667,42.6666667 L42.6666667,10.6666667 C42.6666667,4.77866667 47.4453333,0 53.3333333,0 C59.2213333,0 64,4.77866667 64,10.6666667 L64,42.6666667 C64,48.5546667 59.2213333,53.3333333 53.3333333,53.3333333 Z M202.666667,53.3333333 C196.768,53.3333333 192,48.5546667 192,42.6666667 L192,10.6666667 C192,4.77866667 196.768,0 202.666667,0 C208.565333,0 213.333333,4.77866667 213.333333,10.6666667 L213.333333,42.6666667 C213.333333,48.5546667 208.565333,53.3333333 202.666667,53.3333333 Z' id='Shape'%3E%3C/path%3E%3Ccircle id='Oval' cx='64' cy='202.666667' r='10.6666667'%3E%3C/circle%3E%3Ccircle id='Oval' cx='64' cy='160' r='10.6666667'%3E%3C/circle%3E%3Ccircle id='Oval' cx='96' cy='202.666667' r='10.6666667'%3E%3C/circle%3E%3Ccircle id='Oval' cx='96' cy='160' r='10.6666667'%3E%3C/circle%3E%3Ccircle id='Oval' cx='96' cy='117.333333' r='10.6666667'%3E%3C/circle%3E%3Ccircle id='Oval' cx='160' cy='202.666667' r='10.6666667'%3E%3C/circle%3E%3Ccircle id='Oval' cx='160' cy='160' r='10.6666667'%3E%3C/circle%3E%3Ccircle id='Oval' cx='160' cy='117.333333' r='10.6666667'%3E%3C/circle%3E%3Ccircle id='Oval' cx='192' cy='160' r='10.6666667'%3E%3C/circle%3E%3Ccircle id='Oval' cx='192' cy='117.333333' r='10.6666667'%3E%3C/circle%3E%3Ccircle id='Oval' cx='128' cy='202.666667' r='10.6666667'%3E%3C/circle%3E%3Ccircle id='Oval' cx='128' cy='160' r='10.6666667'%3E%3C/circle%3E%3Ccircle id='Oval' cx='128' cy='117.333333' r='10.6666667'%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.flag-icon {
  height: 15px;
  width: 22px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='15px' height='22px' viewBox='0 0 15 22' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eflag-icon%3C/title%3E%3Cg id='Educator-Insight-Dashboard---Updates' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='flag-icon' transform='translate(0.000000, 0.000000)' fill='%23E25674' fill-rule='nonzero'%3E%3Cpath d='M0.771428571,0.0526829268 C0.334285714,0.0526829268 -8.44879722e-14,0.395121951 -8.44879722e-14,0.842926829 L-8.44879722e-14,21.1258537 L1.54285714,21.1258537 L1.54285714,0.842926829 C1.54285714,0.395121951 1.20857143,0.0526829268 0.771428571,0.0526829268 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M5.83714286,6.21724894e-15 C3.57428571,6.21724894e-15 2.57142857,0.763902439 2.57142857,0.763902439 L2.57142857,9.48292683 C2.57142857,9.48292683 3.54857143,8.71902439 5.83714286,8.71902439 C8.56285714,8.71902439 11.2371429,10.2468293 14.4,8.77170732 L14.4,0.0526829268 C10.4142857,1.26439024 8.56285714,6.21724894e-15 5.83714286,6.21724894e-15 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* app icon */
.custom-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.forward-icon {
  height: 50px;
  width: 50px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='52px' height='52px' viewBox='0 0 52 52' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eforward-icon%3C/title%3E%3Cdefs%3E%3Cpath d='M26,6.75015599e-14 C40.3594035,6.75015599e-14 52,11.4668563 52,25.6119403 C52,39.7570243 40.3594035,51.2238806 26,51.2238806 C11.6405965,51.2238806 0,39.7570243 0,25.6119403 C0,11.4668563 11.6405965,6.75015599e-14 26,6.75015599e-14 Z M27.3371563,12.8223777 L14.3371563,22.7890444 C12.5098368,24.1899893 12.5098368,26.943344 14.3371563,28.3442889 L27.3371563,38.3109556 C29.6396045,40.0761659 32.9666667,38.4345806 32.9666667,35.5333333 L32.9666667,15.6 C32.9666667,12.6987527 29.6396045,11.0571674 27.3371563,12.8223777 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cg id='Student-Web-Experience' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='forward-icon' transform='translate(0.000000, -0.000000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cuse fill='%23FFFFFF' transform='translate(26.000000, 25.611940) scale(-1, 1) translate(-26.000000, -25.611940) ' xlink:href='%23path-1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.backward-icon {
  height: 50px;
  width: 50px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='52px' height='52px' viewBox='0 0 52 52' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eback-icon%3C/title%3E%3Cdefs%3E%3Cpath d='M26,6.75015599e-14 C40.3594035,6.75015599e-14 52,11.4668563 52,25.6119403 C52,39.7570243 40.3594035,51.2238806 26,51.2238806 C11.6405965,51.2238806 0,39.7570243 0,25.6119403 C0,11.4668563 11.6405965,6.75015599e-14 26,6.75015599e-14 Z M27.3371563,12.8223777 L14.3371563,22.7890444 C12.5098368,24.1899893 12.5098368,26.943344 14.3371563,28.3442889 L27.3371563,38.3109556 C29.6396045,40.0761659 32.9666667,38.4345806 32.9666667,35.5333333 L32.9666667,15.6 C32.9666667,12.6987527 29.6396045,11.0571674 27.3371563,12.8223777 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cg id='Student-Web-Experience' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='back-icon'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cuse fill='%23FFFFFF' xlink:href='%23path-1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.backward-icon2 {
  height: 50px;
  width: 50px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='26px' height='26px' viewBox='0 0 26 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EBack%3C/title%3E%3Cg id='Student-Web-Experience' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M13,0 C20.1797017,0 26,5.73342813 26,12.8059701 C26,19.8785122 20.1797017,25.6119403 13,25.6119403 C5.82029825,25.6119403 0,19.8785122 0,12.8059701 C0,5.73342813 5.82029825,0 13,0 Z M13.6685781,6.41118887 L7.16857813,11.3945222 C6.2549184,12.0949947 6.2549184,13.471672 7.16857813,14.1721445 L13.6685781,19.1554778 C14.8198023,20.038083 16.4833333,19.2172903 16.4833333,17.7666667 L16.4833333,7.8 C16.4833333,6.34937637 14.8198023,5.52858369 13.6685781,6.41118887 Z' id='Back' fill='%23844BB0'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.undo-icon {
  height: 16px;
  width: 17px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='32px' height='34px' viewBox='0 0 32 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EUndo%3C/title%3E%3Cg id='Student-Web-Experience' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Undo' fill='%23652D90' fill-rule='nonzero'%3E%3Cpath d='M18.426,7.218 L6.23904,7.218 L9.96918,3.0312 C10.6304637,2.2889293 10.5648107,1.15112367 9.82254,0.48984 C9.0802693,-0.171443668 7.94246367,-0.105790704 7.28118,0.63648 L0.88068,7.82052 C0.273056268,8.50312855 0.273056268,9.53263145 0.88068,10.21524 L7.28088,17.3994 C7.94216367,18.1416707 9.07996929,18.2073236 9.82223998,17.54604 C10.5645107,16.8847563 10.6301637,15.7469507 9.96888,15.00468 L6.23904,10.818 L18.426,10.818 C23.7137012,10.818 28.00023,15.1045288 28.00023,20.39223 C28.00023,25.6799312 23.7137012,29.96646 18.426,29.96646 L3.85548,29.96646 C2.86136745,29.96646 2.05548,30.7723475 2.05548,31.76646 C2.05548,32.7605725 2.86136745,33.56646 3.85548,33.56646 L18.426,33.56646 C25.7019263,33.56646 31.60023,27.6681563 31.60023,20.39223 C31.60023,13.1163037 25.7019263,7.218 18.426,7.218 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.logout-icon {
  height: 50px;
  width: 50px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='65px' height='63px' viewBox='0 0 65 63' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Elogout-icon%3C/title%3E%3Cg id='Student-Web-Experience' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='logout-icon' transform='translate(32.500000, 31.500000) scale(-1, 1) translate(-32.500000, -31.500000) translate(1.000000, 1.000000)' fill='%23FFFFFF' fill-rule='nonzero' stroke='%23652D90' stroke-width='1.8'%3E%3Cpath d='M62.4778462,29.2057002 C62.3030709,28.7799497 62.0456377,28.3930654 61.7204291,28.0674133 L54.7530843,21.1001731 C53.3884196,19.7600072 51.198709,19.7699235 49.8462382,21.1223944 C48.4937673,22.4748652 48.483851,24.6645758 49.8240169,26.0292405 L50.8453866,27.0506102 L38.3449371,27.0506102 C36.4197258,27.0506102 34.8590337,28.6113023 34.8590337,30.5365136 C34.8590337,32.4617248 36.4197258,34.0224169 38.3449371,34.0224169 L50.8451775,34.0224169 L49.8238078,35.0437866 C48.9340554,35.922448 48.5831774,37.2104142 48.9043172,38.4189564 C49.225457,39.6274987 50.1693976,40.5713993 51.3779535,40.8924878 C52.5865094,41.2135763 53.8744607,40.8626437 54.7530843,39.972854 L61.7204291,33.0055092 C62.7157641,32.0073353 63.0143971,30.5091125 62.4778462,29.2055957 L62.4778462,29.2057002 Z M41.8308405,37.5083203 C40.9061598,37.5077928 40.0192001,37.8748872 39.365352,38.5287352 C38.711504,39.1825833 38.3444096,40.069543 38.3449371,40.9942237 L38.3449371,44.4801271 L31.3731304,44.4801271 L31.3731304,16.5929001 L38.3449371,16.5929001 L38.3449371,20.0788034 C38.3449371,22.0040147 39.9056292,23.5647068 41.8308405,23.5647068 C43.7560518,23.5647068 45.3167444,22.0040147 45.3167444,20.0788034 L45.3167444,16.5929001 C45.3117507,12.7445476 42.1932896,9.62608644 38.3449371,9.62109331 L31.3731304,9.62109331 L31.3731304,7.27218704 C31.3740122,5.08443738 30.3478309,3.02316394 28.6016535,1.70516771 C26.8554762,0.38717147 24.5918606,-0.0346591207 22.4881553,0.565901554 L5.0621243,5.54624656 C2.07210938,6.40651438 0.00936397125,9.13785481 0,12.2491507 L0,48.8238764 C0.00927760513,51.9352175 2.07200545,54.6666433 5.06205459,55.5269549 L22.4847739,60.5071256 C23.114967,60.6859304 23.7666855,60.7775552 24.421751,60.7794443 C28.2648849,60.7634765 31.3721847,57.644007 31.3731304,53.8008401 L31.3731304,51.4519338 L38.3449371,51.4519338 C42.1932896,51.4469407 45.3117507,48.3284795 45.3167444,44.4801271 L45.3167444,40.9942237 C45.3172714,40.069543 44.950177,39.1825833 44.2963289,38.5287352 C43.6424809,37.8748872 42.7555212,37.5077928 41.8308405,37.5083203 Z M24.4013236,13.1069967 L24.4013236,53.8008401 L6.97180675,48.8204951 L6.97180675,12.2525321 L24.4013236,7.27218704 L24.4013236,13.1069967 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.history-icon {
  height: 50px;
  width: 50px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='61px' height='56px' viewBox='0 0 61 56' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ehistory-icon%3C/title%3E%3Cg id='Student-Web-Experience' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='history-icon' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M32.8918871,0 C21.2003147,0 11.1508472,7.125489 7.02255258,17.263125 L5.37724008,14.3521875 C4.94646304,13.5399592 4.09420838,13.0403616 3.17505258,13.06125 C2.31665007,13.0803992 1.53205904,13.5510855 1.11111273,14.2994342 C0.690166423,15.0477829 0.695346448,15.9627156 1.12473927,16.70625 L5.57974008,24.6797199 C6.2235,25.8217841 7.65707896,26.2473886 8.81974008,25.6416192 L16.7425526,21.5915625 C17.553329,21.2198896 18.0953679,20.4339572 18.1546908,19.5440247 C18.2140138,18.6540921 17.7810877,17.8031685 17.0268172,17.3271695 C16.2725466,16.8511705 15.3181402,16.8265875 14.5403651,17.263125 L11.6294276,18.7565625 C15.1102568,10.6129197 23.3118956,4.86 32.8918871,4.86 C45.6498731,4.86 55.9009901,15.0030144 55.9009901,27.5400162 C55.9009901,40.0769532 45.6498731,50.2200162 32.8918871,50.2200162 C21.9780119,50.2200162 12.8869283,42.7303512 10.4903651,32.7543912 C10.2868839,31.908844 9.64776554,31.2360821 8.81375964,30.9895284 C7.97975373,30.7429747 7.07756564,30.9600865 6.44704089,31.5590799 C5.81651613,32.1580733 5.55344643,33.047947 5.75692758,33.8934942 C8.67649158,46.0464912 19.7549831,55.0800162 32.8918871,55.0800162 C48.2416301,55.0800162 60.7609901,42.7386942 60.7609901,27.5400162 C60.7609901,12.3412896 48.2416301,0 32.8918871,0 L32.8918871,0 Z M33.1956371,12.0992396 C32.5467216,12.1060697 31.9274375,12.3720206 31.4757518,12.8379779 C31.0240661,13.3039352 30.777502,13.9311902 30.7909901,14.58 L30.7909901,27.5400162 C30.7904644,28.2784167 31.1258484,28.9769663 31.7022401,29.4384942 L39.8022401,35.9184942 C40.4804778,36.4611907 41.3967318,36.6007993 42.2058195,36.2847248 C43.0149072,35.9686504 43.5938926,35.2449186 43.7246533,34.3861826 C43.8554139,33.5274466 43.5180815,32.6641861 42.8397401,32.1216192 L35.6509901,26.3756412 L35.6509901,14.58 C35.6646626,13.9223963 35.4111984,13.2873339 34.9484892,12.8198622 C34.48578,12.3523906 33.8533463,12.0924369 33.1956371,12.0992396 L33.1956371,12.0992396 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.question-icon {
  height: 24px;
  width: 24px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Equestion-icon%3C/title%3E%3Cg id='Educator-Admin-Dashboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='question-icon' transform='translate(1.000000, 1.000000)'%3E%3Ccircle id='Oval' stroke='%23652D90' stroke-width='1.296' cx='10.8' cy='10.8' r='10.8'%3E%3C/circle%3E%3Cpath d='M10.545856,12.23936 C11.04352,12.23936 11.35456,12.099392 11.43232,11.819456 C11.572288,10.015424 14.418304,10.357568 14.418304,7.791488 C14.418304,6.127424 13.096384,5.00768 10.903552,5.00768 C8.539648,5.00768 7.357696,6.40736 7.357696,7.511552 C7.357696,8.677952 8.835136,8.631296 8.850688,8.600192 C8.975104,7.713728 9.56608,6.811712 10.872448,6.811712 C11.790016,6.811712 12.318784,7.247168 12.318784,7.947008 C12.318784,9.268928 9.674944,8.880128 9.612736,11.477312 C9.597184,11.990528 9.985984,12.23936 10.545856,12.23936 Z M10.685824,15.380864 C11.385664,15.380864 11.74336,15.03872 11.74336,14.354432 L11.74336,14.136704 C11.74336,13.452416 11.401216,13.110272 10.685824,13.110272 L10.405888,13.110272 C9.7216,13.110272 9.379456,13.452416 9.379456,14.136704 L9.379456,14.354432 C9.379456,15.03872 9.7216,15.380864 10.405888,15.380864 L10.685824,15.380864 Z' id='%3F' fill='%23652D90' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* End of app icon */
/* mood svg icon */
.mood-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.mood-happy-icon {
  height: 25px;
  width: 25px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='144px' height='144px' viewBox='0 0 144 144' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ehappy%3C/title%3E%3Cg id='Student-Web-Experience' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.04-Student-Home' transform='translate(-101.000000, -473.000000)'%3E%3Cg id='Group-2' transform='translate(99.000000, 473.000000)'%3E%3Cg id='Moods' transform='translate(0.600000, 0.600000)'%3E%3Cg id='happy' transform='translate(0.900000, 0.145800)'%3E%3Cpath d='M143.60646,71.5827486 C143.60646,111.097575 111.569969,143.134065 72.0521861,143.134065 C32.5344031,143.134065 0.500869565,111.097575 0.500869565,71.5827486 C0.500869565,32.0649657 32.5344031,0.0284750919 72.0521861,0.0284750919 C111.569969,0.0284750919 143.60646,32.0649657 143.60646,71.5827486' id='Fill-1' fill='%23FFAC00'%3E%3C/path%3E%3Cpath d='M62.483116,56.8121891 C62.483116,64.2069515 56.6072004,70.1998631 49.3603334,70.1998631 C42.1191905,70.1998631 36.243275,64.2069515 36.243275,56.8121891 C36.243275,49.4174268 42.1191905,43.4245151 49.3603334,43.4245151 C56.6072004,43.4245151 62.483116,49.4174268 62.483116,56.8121891' id='Fill-2' fill='%23A04F18'%3E%3C/path%3E%3Cpath d='M107.867623,56.8121891 C107.867623,64.2069515 101.991707,70.1998631 94.7477023,70.1998631 C87.5008352,70.1998631 81.6277818,64.2069515 81.6277818,56.8121891 C81.6277818,49.4174268 87.5008352,43.4245151 94.7477023,43.4245151 C101.991707,43.4245151 107.867623,49.4174268 107.867623,56.8121891' id='Fill-3' fill='%23A04F18'%3E%3C/path%3E%3Cpath d='M72.0540178,112.085993 C57.6318365,112.085993 44.1255309,106.169015 35.0011184,95.856651 C32.276388,92.7784206 32.5110812,88.0267309 35.5306091,85.2463937 C38.547275,82.4660565 43.206793,82.7084599 45.9315234,85.7866903 C52.2682389,92.9507314 61.7904849,97.0599062 72.0540178,97.0599062 C82.3175507,97.0599062 91.8426588,92.9507314 98.1793743,85.7866903 C100.901243,82.7084599 105.557899,82.463136 108.580289,85.2463937 C111.594092,88.0267309 111.831648,92.7784206 109.106917,95.856651 C99.9825048,106.169015 86.4761992,112.085993 72.0540178,112.085993' id='Fill-4' fill='%23A04F18'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.mood-excited-icon {
  height: 25px;
  width: 25px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='144px' height='144px' viewBox='0 0 144 144' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eexcited%3C/title%3E%3Cg id='Student-Web-Experience' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.04-Student-Home' transform='translate(-300.000000, -474.000000)'%3E%3Cg id='Group-2' transform='translate(99.000000, 473.000000)'%3E%3Cg id='Moods' transform='translate(0.600000, 0.600000)'%3E%3Cg id='excited' transform='translate(199.800000, 1.045800)'%3E%3Cpath d='M72.2311155,143.134065 C32.7141491,143.134065 0.678320497,111.097575 0.678320497,71.5827486 C0.678320497,32.0649657 32.7141491,0.0284750919 72.2311155,0.0284750919 C111.748082,0.0284750919 143.783911,32.0649657 143.783911,71.5827486 C143.783911,111.097575 111.748082,143.134065 72.2311155,143.134065 Z' id='Fill-1' fill='%23F77D2C'%3E%3C/path%3E%3Cpath d='M62.6587826,51.2456737 C62.6587826,58.6375155 56.7828671,64.6333477 49.536,64.6333477 C42.291995,64.6333477 36.4189416,58.6375155 36.4189416,51.2456737 C36.4189416,43.8509114 42.291995,37.8579997 49.536,37.8579997 C56.7828671,37.8579997 62.6587826,43.8509114 62.6587826,51.2456737' id='Fill-2' fill='%23891818'%3E%3C/path%3E%3Cpath d='M108.043289,51.2456737 C108.043289,58.6375155 102.167374,64.6333477 94.9233689,64.6333477 C87.6765019,64.6333477 81.8034484,58.6375155 81.8034484,51.2456737 C81.8034484,43.8509114 87.6765019,37.8579997 94.9233689,37.8579997 C102.167374,37.8579997 108.043289,43.8509114 108.043289,51.2456737' id='Fill-3' fill='%23891818'%3E%3C/path%3E%3Cpath d='M111.652412,76.1752516 C110.427429,74.8726987 108.73592,74.1396476 106.967135,74.1396476 L37.4950957,74.1396476 C35.7263106,74.1396476 34.0348025,74.8726987 32.8098186,76.1752516 C31.5848348,77.474884 30.9322733,79.2301179 31.000964,81.0320801 C31.8824944,103.721617 49.9910758,121.495916 72.2325466,121.495916 C94.4711553,121.495916 112.579737,103.721617 113.461267,81.0320801 C113.529958,79.2301179 112.877396,77.474884 111.652412,76.1752516' id='Fill-4' fill='%23891818'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.mood-caring-icon {
  height: 25px;
  width: 25px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='144px' height='144px' viewBox='0 0 144 144' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ecaring%3C/title%3E%3Cg id='Student-Web-Experience' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.04-Student-Home' transform='translate(-503.000000, -473.000000)'%3E%3Cg id='Group-2' transform='translate(99.000000, 473.000000)'%3E%3Cg id='Moods' transform='translate(0.600000, 0.600000)'%3E%3Cg id='caring' transform='translate(403.200000, 0.145800)'%3E%3Cpath d='M143.599158,71.5865402 C143.599158,111.106219 111.562668,143.14129 72.0448848,143.14129 C32.5241448,143.14129 0.49356826,111.106219 0.49356826,71.5865402 C0.49356826,32.0668611 32.5241448,0.0288332692 72.0448848,0.0288332692 C111.562668,0.0288332692 143.599158,32.0668611 143.599158,71.5865402' id='Fill-1' fill='%23EF659F'%3E%3C/path%3E%3Cpath d='M72.3421948,113.49588 C57.6227627,113.49588 43.8437388,107.504474 34.5301933,97.0623951 C31.7498561,93.9454447 31.9922595,89.1339854 35.0734105,86.3186754 C38.1516409,83.5033654 42.9033306,83.7488179 45.6836678,86.8657682 C52.149704,94.119923 61.8692021,98.2807855 72.3421948,98.2807855 C82.8151876,98.2807855 92.5346856,94.119923 99.0007219,86.8657682 C101.778139,83.7488179 106.529828,83.5004082 109.6139,86.3186754 C112.68921,89.1339854 112.931613,93.9454447 110.151276,97.0623951 C100.840651,107.504474 87.0587064,113.49588 72.3421948,113.49588' id='Fill-2' fill='%23991C5B'%3E%3C/path%3E%3Cpath d='M54.5480543,43.0977917 C52.0772924,43.0977917 49.7788414,44.0470716 48.0382102,45.7238371 C46.3004994,44.0470716 43.9991279,43.0977917 41.5283661,43.0977917 C36.2772671,43.0977917 32.004543,47.4242607 32.004543,52.7414113 C32.004543,55.3763285 33.044249,57.8397247 34.9075421,59.6554813 L45.325045,70.2069792 C45.6842692,70.570722 46.706452,71.5850616 48.0090049,71.5850616 L48.0586538,71.5850616 C49.2268627,71.5850616 50.319138,70.6860551 50.6754418,70.3223123 L61.408361,59.4100289 C63.1256281,57.6001868 64.0718773,55.2314228 64.0718773,52.7414113 C64.0718773,47.4242607 59.7991533,43.0977917 54.5480543,43.0977917' id='Fill-3' fill='%23991C5B'%3E%3C/path%3E%3Cpath d='M102.56144,43.0977917 C100.093599,43.0977917 97.7922272,44.0470716 96.0545164,45.7238371 C94.3138852,44.0470716 92.0154341,43.0977917 89.5446723,43.0977917 C84.2935733,43.0977917 80.0208493,47.4242607 80.0208493,52.7414113 C80.0208493,55.3763285 81.0605552,57.8397247 82.9209279,59.6554813 L93.3413512,70.2069792 C93.697655,70.570722 94.7198377,71.5850616 96.0253112,71.5850616 L96.0749601,71.5850616 C97.243169,71.5850616 98.3325238,70.6860551 98.691748,70.3223123 L109.424667,59.4100289 C111.141934,57.6001868 112.088184,55.2314228 112.088184,52.7414113 C112.088184,47.4242607 107.812539,43.0977917 102.56144,43.0977917' id='Fill-4' fill='%23991C5B'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.mood-calm-icon {
  height: 25px;
  width: 25px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='144px' height='144px' viewBox='0 0 144 144' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ecalm%3C/title%3E%3Cg id='Student-Web-Experience' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.04-Student-Home' transform='translate(-100.000000, -719.000000)'%3E%3Cg id='Group-2' transform='translate(99.000000, 473.000000)'%3E%3Cg id='Moods' transform='translate(0.600000, 0.600000)'%3E%3Cg id='calm' transform='translate(0.000000, 245.145800)'%3E%3Cpath d='M143.615046,71.9010856 C143.615046,111.415911 111.578555,143.452402 72.0607724,143.452402 C32.5429895,143.452402 0.509455901,111.415911 0.509455901,71.9010856 C0.509455901,32.3803456 32.5429895,0.346812017 72.0607724,0.346812017 C111.578555,0.346812017 143.615046,32.3803456 143.615046,71.9010856' id='Fill-1' fill='%237DCDF8'%3E%3C/path%3E%3Cpath d='M35.7731088,96.1720674 C33.0455163,93.0967575 33.2830716,88.3450678 36.3025995,85.5618101 C39.3192654,82.7814729 43.9759213,83.0238763 46.7006517,86.1021067 C53.0402293,93.2690683 62.5624753,97.3753226 72.8260082,97.3753226 C83.0895411,97.3753226 92.6146492,93.2690683 98.9513647,86.1021067 C101.673233,83.0209558 106.329889,82.7814729 109.349417,85.5618101 C112.366083,88.3450678 112.603638,93.0967575 109.878908,96.1720674 C100.754495,106.487352 87.2481896,112.398489 72.8260082,112.398489 C58.4009647,112.398489 44.8975213,106.487352 35.7731088,96.1720674 Z' id='Fill-2' fill='%233976C0'%3E%3C/path%3E%3Cpath d='M63.3671553,58.4681252 C63.3671553,61.9289441 60.619528,64.7326455 57.2307876,64.7326455 L40.012323,64.7326455 C36.6207205,64.7326455 33.8730932,61.9289441 33.8730932,58.4681252 C33.8730932,55.0131474 36.6207205,52.2065255 40.012323,52.2065255 L57.2307876,52.2065255 C60.619528,52.2065255 63.3671553,55.0131474 63.3671553,58.4681252' id='Fill-3' fill='%233976C0'%3E%3C/path%3E%3Cpath d='M110.251409,58.4681252 C110.251409,61.9289441 107.503781,64.7326455 104.115041,64.7326455 L86.8937143,64.7326455 C83.5049739,64.7326455 80.7573466,61.9289441 80.7573466,58.4681252 C80.7573466,55.0131474 83.5049739,52.2065255 86.8937143,52.2065255 L104.115041,52.2065255 C107.503781,52.2065255 110.251409,55.0131474 110.251409,58.4681252' id='Fill-4' fill='%233976C0'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.mood-ok-icon {
  height: 25px;
  width: 25px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='144px' height='144px' viewBox='0 0 144 144' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eok%3C/title%3E%3Cg id='Student-Web-Experience' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.04-Student-Home' transform='translate(-299.000000, -719.000000)'%3E%3Cg id='Group-2' transform='translate(99.000000, 473.000000)'%3E%3Cg id='Moods' transform='translate(0.600000, 0.600000)'%3E%3Cg id='ok' transform='translate(199.800000, 245.145800)'%3E%3Cpath d='M143.577839,71.9025641 C143.577839,111.418207 111.544305,143.452402 72.026522,143.452402 C32.5087391,143.452402 0.472248447,111.418207 0.472248447,71.9025641 C0.472248447,32.3810075 32.5087391,0.346812017 72.026522,0.346812017 C111.544305,0.346812017 143.577839,32.3810075 143.577839,71.9025641' id='Fill-1' fill='%23C2A5EF'%3E%3C/path%3E%3Cpath d='M55.962872,103.835518 C51.7441193,103.835518 48.3267578,100.345494 48.3267578,96.046485 C48.3267578,91.7474762 51.7441193,88.2545316 55.962872,88.2545316 L88.090077,88.2545316 C92.3059677,88.2545316 95.7233292,91.7474762 95.7233292,96.046485 C95.7233292,100.345494 92.3059677,103.835518 88.090077,103.835518 L55.962872,103.835518 Z' id='Fill-2' fill='%23652D90'%3E%3C/path%3E%3Cpath d='M62.4527106,58.5119331 C62.4527106,65.9037749 56.576795,71.899607 49.329928,71.899607 C42.085923,71.899607 36.2128696,65.9037749 36.2128696,58.5119331 C36.2128696,51.1171707 42.085923,45.1242591 49.329928,45.1242591 C56.576795,45.1242591 62.4527106,51.1171707 62.4527106,58.5119331' id='Fill-3' fill='%23652D90'%3E%3C/path%3E%3Cpath d='M107.837217,58.5119331 C107.837217,65.9037749 101.961302,71.899607 94.7172969,71.899607 C87.4704298,71.899607 81.5973764,65.9037749 81.5973764,58.5119331 C81.5973764,51.1171707 87.4704298,45.1242591 94.7172969,45.1242591 C101.961302,45.1242591 107.837217,51.1171707 107.837217,58.5119331' id='Fill-4' fill='%23652D90'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.mood-confused-icon {
  height: 25px;
  width: 25px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='144px' height='144px' viewBox='0 0 144 144' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Econfused%3C/title%3E%3Cg id='Student-Web-Experience' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.04-Student-Home' transform='translate(-503.000000, -719.000000)'%3E%3Cg id='Group-2' transform='translate(99.000000, 473.000000)'%3E%3Cg id='Moods' transform='translate(0.600000, 0.600000)'%3E%3Cg id='confused' transform='translate(403.200000, 245.145800)'%3E%3Cpath d='M143.938465,71.8966865 C143.938465,112.679237 112.185849,143.449482 72.3871481,143.449482 C32.8693651,143.449482 0.832874534,111.413653 0.832874534,71.8966865 C0.832874534,32.3767632 32.8693651,0.343891494 72.3871481,0.343891494 C111.904931,0.343891494 143.938465,32.3767632 143.938465,71.8966865' id='Fill-1' fill='%236BCD83'%3E%3C/path%3E%3Cpath d='M58.7835572,47.2991476 L40.0310007,47.0947111 C37.2289932,47.0655059 34.6445063,49.509983 34.4470205,52.1910224 C34.3897783,52.5765313 34.3525709,52.9708018 34.3497087,53.3621518 C34.3067771,57.4450419 35.8236963,61.3030518 38.6342901,64.2264946 C41.4391597,67.1499373 45.185664,68.7795888 49.1868963,68.8263171 C50.3431895,68.8350787 51.4937584,68.7124168 52.6185684,68.4554108 C59.4418429,66.8958519 64.2645013,60.8211656 64.3417783,53.6834093 C64.3417783,53.2891388 64.3188814,52.9065504 64.2730876,52.6174187 C64.0956367,49.6676912 61.6857386,47.3283529 58.7835572,47.2991476' id='Fill-2' fill='%23126D2B'%3E%3C/path%3E%3Cpath d='M84.1876615,64.0074554 L102.940218,64.2060509 C105.745088,64.2381767 108.326712,61.7966201 108.52706,59.1155806 C108.58144,58.7271512 108.62151,58.3358012 108.62151,57.9415307 C108.667304,53.8557201 107.150385,50.0006307 104.336929,47.077188 C101.534921,44.1508247 97.7855547,42.5211732 93.7871845,42.4802859 C92.6308914,42.4656833 91.4803224,42.5883453 90.3555125,42.8482717 C83.5293758,44.4049101 78.7095796,50.4825169 78.6323025,57.6202733 C78.6294404,58.0145438 78.6551994,58.3971322 78.6981311,58.6891844 C78.875582,61.6389119 81.2883423,63.9753297 84.1876615,64.0074554' id='Fill-3' fill='%23126D2B'%3E%3C/path%3E%3Cpath d='M98.3121833,106.714252 C96.8553684,106.714252 95.3928292,106.217763 94.1792938,105.198501 C93.4780764,104.623158 77.9110504,92.111641 51.9459721,97.9205597 C48.4141261,98.7061802 44.9566951,96.4340139 44.186787,92.8476126 C43.419741,89.2641318 45.6436019,85.7186178 49.1554131,84.9329973 C81.6489684,77.6754995 101.643681,94.2494633 102.479418,94.9562297 C105.24708,97.301409 105.622017,101.492358 103.323741,104.319424 C102.035791,105.896506 100.181142,106.714252 98.3121833,106.714252' id='Fill-4' fill='%23126D2B'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.mood-anxious-icon {
  height: 25px;
  width: 25px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='141px' height='141px' viewBox='0 0 141 141' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EAnxious%3C/title%3E%3Cg id='Student-Web-Experience' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.04-Student-Home' transform='translate(-101.000000, -969.000000)'%3E%3Cg id='Group-2' transform='translate(99.000000, 473.000000)'%3E%3Cg id='Moods' transform='translate(0.600000, 0.600000)'%3E%3Cg id='Group' transform='translate(0.900000, 495.550024)'%3E%3Cpath d='M141.455077,70.3606154 C141.455077,109.188 109.974462,140.663077 71.1470769,140.663077 C32.3141538,140.663077 0.839076923,109.188 0.839076923,70.3606154 C0.839076923,31.5276923 32.3141538,0.0526153846 71.1470769,0.0526153846 C109.974462,0.0526153846 141.455077,31.5276923 141.455077,70.3606154' id='Fill-1' fill='%23DD89E0'%3E%3C/path%3E%3Cpath d='M82.7390769,104.505231 L59.2449231,104.505231 C55.0329231,104.505231 51.6184615,101.088 51.6184615,96.8787692 C51.6184615,92.664 55.0329231,89.2523077 59.2449231,89.2523077 L82.7390769,89.2523077 C86.9538462,89.2523077 90.3655385,92.664 90.3655385,96.8787692 C90.3655385,101.088 86.9538462,104.505231 82.7390769,104.505231' id='Fill-2' fill='%2387259C'%3E%3C/path%3E%3Cpath d='M59.0704615,50.0289231 C57.6110769,47.412 54.1412308,46.2766154 51.4163077,47.5504615 L33.3470769,55.9772308 C30.6387692,57.2372308 29.2513846,60.6461538 30.2870769,63.324 C30.4061538,63.7144615 30.5473846,64.0966154 30.7218462,64.4704615 C32.5163077,68.3224615 35.7092308,71.2495385 39.7163077,72.7061538 C41.4858462,73.3541538 43.3246154,73.6809231 45.1855385,73.6809231 C47.5116923,73.6809231 49.7686154,73.1769231 51.8981538,72.1827692 C53.0141538,71.6621538 54.0664615,71.0141538 55.0273846,70.2636923 C60.8676923,65.664 62.7535385,57.7467692 59.6076923,50.9898462 C59.4304615,50.6187692 59.2366154,50.2753846 59.0704615,50.0289231' id='Fill-3' fill='%2387259C'%3E%3C/path%3E%3Cpath d='M107.792308,55.9772308 L89.7258462,47.5504615 C87.0036923,46.2821538 83.5089231,47.4452308 82.1270769,49.9403077 C81.9055385,50.2753846 81.7089231,50.6187692 81.5289231,51.0036923 C78.3886154,57.7467692 80.2772308,65.664 86.1175385,70.2636923 C87.0756923,71.0169231 88.128,71.6621538 89.244,72.1827692 C91.3735385,73.1769231 93.6304615,73.6809231 95.9566154,73.6809231 C97.8175385,73.6809231 99.6563077,73.3541538 101.425846,72.7061538 C105.432923,71.2495385 108.625846,68.3224615 110.417538,64.476 C110.594769,64.0966154 110.736,63.7144615 110.821846,63.4181538 C111.890769,60.6461538 110.503385,57.2372308 107.792308,55.9772308' id='Fill-4' fill='%2387259C'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.mood-sad-icon {
  height: 25px;
  width: 25px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='144px' height='144px' viewBox='0 0 144 144' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Esad%3C/title%3E%3Cg id='Student-Web-Experience' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.04-Student-Home' transform='translate(-300.000000, -969.000000)'%3E%3Cg id='Group-2' transform='translate(99.000000, 473.000000)'%3E%3Cg id='Moods' transform='translate(0.600000, 0.600000)'%3E%3Cg id='sad' transform='translate(199.800000, 495.550024)'%3E%3Cpath d='M143.775324,71.7170562 C143.775324,111.234839 111.741791,143.27133 72.2240077,143.27133 C32.7032677,143.27133 0.669734161,111.234839 0.669734161,71.7170562 C0.669734161,32.1992732 32.7032677,0.165739637 72.2240077,0.165739637 C111.741791,0.165739637 143.775324,32.1992732 143.775324,71.7170562' id='Fill-1' fill='%236599FE'%3E%3C/path%3E%3Cpath d='M72.2719449,80.6611738 C86.6969884,80.6611738 100.200432,86.5723108 109.327706,96.8875954 C112.052437,99.9658258 111.814882,104.717516 108.798216,107.497853 C105.778688,110.275269 101.122032,110.032866 98.3973015,106.960477 C92.0605859,99.7964355 82.5354779,95.6843402 72.2719449,95.6843402 C62.008412,95.6843402 52.4861661,99.7964355 46.1494505,106.960477 C43.4247201,110.035787 38.7680642,110.28111 35.7485362,107.497853 C32.7318704,104.717516 32.4971772,99.9658258 35.2219077,96.8875954 C44.343458,86.5723108 57.8497636,80.6611738 72.2719449,80.6611738' id='Fill-2' fill='%231D499D'%3E%3C/path%3E%3Cpath d='M60.9007748,50.4016428 C59.4639946,47.7673317 56.0466331,46.6283281 53.3619723,47.9104373 L35.5653611,56.3770313 C32.8950108,57.6474585 31.5297834,61.0732311 32.5486952,63.7630321 C32.6660418,64.1543821 32.8034232,64.539891 32.978012,64.9137178 C34.743935,68.7863303 37.8893959,71.7302168 41.8391102,73.1933984 C43.5792741,73.8446749 45.3909909,74.1717734 47.2256046,74.1717734 C49.515294,74.1717734 51.7391549,73.666523 53.8370828,72.6677044 C54.9361338,72.1449309 55.9722182,71.4936545 56.9167151,70.7372392 C62.672422,66.116973 64.5270704,58.1585499 61.4302654,51.3654151 C61.2585387,50.9945088 61.0667772,50.6469667 60.9007748,50.4016428' id='Fill-3' fill='%231D499D'%3E%3C/path%3E%3Cpath d='M108.895528,56.3770313 L91.0989164,47.9104373 C88.4199797,46.6312486 84.9739971,47.8052985 83.6116319,50.3081861 C83.3941114,50.6469667 83.2023499,50.9945088 83.024899,51.3770972 C79.9309561,58.1585499 81.7913288,66.116973 87.5470356,70.7372392 C88.4886704,71.496575 89.5247549,72.1449309 90.6238058,72.6677044 C92.7217338,73.666523 94.9455946,74.1717734 97.2352841,74.1717734 C99.0698977,74.1717734 100.881615,73.8446749 102.621778,73.1933984 C106.571493,71.7302168 109.716954,68.7863303 111.480015,64.9195589 C111.654603,64.539891 111.794847,64.1543821 111.877848,63.8594093 C112.931105,61.0732311 111.565878,57.6474585 108.895528,56.3770313' id='Fill-4' fill='%231D499D'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.mood-angry-icon {
  height: 25px;
  width: 25px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='144px' height='144px' viewBox='0 0 144 144' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eangry%3C/title%3E%3Cg id='Student-Web-Experience' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.04-Student-Home' transform='translate(-502.000000, -969.000000)'%3E%3Cg id='Group-2' transform='translate(99.000000, 473.000000)'%3E%3Cg id='Moods' transform='translate(0.600000, 0.600000)'%3E%3Cg id='angry' transform='translate(402.300000, 495.550024)'%3E%3Cpath d='M143.938465,71.7185347 C143.938465,111.237134 111.904931,143.27133 72.3871481,143.27133 C32.8634511,143.27133 0.832874534,111.237134 0.832874534,71.7185347 C0.832874534,32.1999351 32.8634511,0.165739637 72.3871481,0.165739637 C111.904931,0.165739637 143.938465,32.1999351 143.938465,71.7185347' id='Fill-1' fill='%23E25674'%3E%3C/path%3E%3Cpath d='M72.3842385,75.2726618 C86.809282,75.2726618 100.312725,81.1837988 109.44,91.4990834 C112.16473,94.5802344 111.927175,99.3290035 108.910509,102.112261 C105.890981,104.889678 101.234325,104.650195 98.509595,101.571965 C92.1728795,94.4079235 82.6477714,90.2987487 72.3842385,90.2987487 C62.1207056,90.2987487 52.5955975,94.4079235 46.2617441,101.571965 C43.5370137,104.653116 38.8803578,104.895519 35.8608298,102.112261 C32.844164,99.3290035 32.6066087,94.5802344 35.3313391,91.4990834 C44.4557516,81.1837988 57.9620571,75.2726618 72.3842385,75.2726618' id='Fill-2' fill='%23841238'%3E%3C/path%3E%3Cpath d='M60.4263354,47.6834767 L41.3074286,43.1040978 C38.4539031,42.4206956 35.2683727,44.313194 34.4641193,47.0059155 C34.3181516,47.3885039 34.1922186,47.7798539 34.1034932,48.1799654 C33.1418236,52.3446302 33.8287304,56.6377979 36.044005,60.2826096 C38.2564174,63.9245009 41.7195727,66.4624347 45.7952199,67.4408096 C46.9715478,67.7241003 48.179359,67.8672059 49.3843081,67.8672059 C56.7084522,67.8672059 62.9936497,62.7796561 64.6708472,55.5046352 C64.7595727,55.1016032 64.819677,54.7073327 64.8425739,54.3977573 C65.3205466,51.342891 63.3800348,48.3931636 60.4263354,47.6834767' id='Fill-3' fill='%23841238'%3E%3C/path%3E%3Cpath d='M110.201322,48.25199 C110.10401,47.8285142 109.972353,47.4284027 109.9008,47.2648534 C109.027856,44.3969006 105.833739,42.4956406 102.991662,43.1761223 L83.8756174,47.7555012 C80.9190559,48.4622676 78.975682,51.3740282 79.436482,54.29163 C79.4851379,54.7939598 79.5423801,55.1823893 79.6339677,55.5766598 C81.305441,62.8546012 87.5935006,67.9363099 94.9205068,67.9363099 C96.1225938,67.9363099 97.330405,67.7961248 98.5067329,67.5128342 C102.58238,66.5344592 106.045535,63.9936049 108.257948,60.3546342 C110.467498,56.7127429 111.160129,52.4166547 110.201322,48.25199' id='Fill-4' fill='%23841238'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* End of mood svg icon */
/* End of svg icons */
/* select2 */
.select-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-control.select-control {
  border: 1px solid #092A47;
  border-radius: 0px;
  min-height: 50px;
  color: #6F3996;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #092A47;
  position: relative;
}

.form-control.select-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.select-custom2 {
  font-family: 'Omnes';
}

.select-custom2 span.select2-selection.select2-selection--single {
  border: 0px solid rgba(155, 155, 155, 0.4) !important;
  border-radius: 0px;
  min-height: 34px;
  color: #000000;
  padding: 0px 6px;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  -webkit-appearance: none;
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  position: relative;
  margin-bottom: 0px;
}

.select-custom2 .select2.select2-container .select2-selection .select2-selection__arrow {
  border-radius: 0 0px 0px 0;
  height: 34px;
  width: 37px;
  background-color: transparent;
  border: none;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  top: 12px;
  left: 10px;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b::before {
  content: "";
  height: 8px;
  width: 14px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='14px' height='8px' viewBox='0 0 14 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath 6%3C/title%3E%3Cg id='Educator-Admin-Dashboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Path-4' transform='translate(1.000000, 1.000000)' stroke='%23414141' stroke-width='1.4'%3E%3Cg id='Path-5'%3E%3Cpolyline id='Path-2' points='0 0 6 6 12 0'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 12px;
  width: 17px;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #000000;
}

.select2-container {
  font-family: 'Omnes';
  font-weight: 500;
}

.select2-container .select2-dropdown {
  background: transparent;
  border: none;
  margin-top: 0;
}

.select2.select2-container .select2-selection .select2-selection__rendered {
  line-height: 34px;
}

.select2-container .select2-dropdown .select2-search input {
  outline: none;
  border: 1px solid #DFEAF1;
  border-bottom: none;
  padding: 10px 10px;
}

.select2-container .select2-dropdown .select2-results ul {
  background: #fff;
  border: 1px solid #DFEAF1;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
  background-color: #6F3996;
}

.select2-results__option {
  padding: 10px;
}

/* end of select2 */
/*  End of general css */
/* header */
header {
  position: relative;
}

.general-header-div {
  padding: 10px 0;
  margin: 0;
  position: relative;
}

.general-header-div .general-header-row {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.general-header-div .logo-thumb {
  width: 25%;
}

.general-header-div .nav-right-div {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.general-dashboard-header-div {
  padding: 0px 0;
  margin: 0;
  position: relative;
}

.general-dashboard-header-div .general-header-row {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 15px 0;
}

.general-dashboard-header-div .logo-thumb {
  width: 22%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.general-dashboard-header-div .header-center-div {
  width: 56%;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.general-dashboard-header-div .nav-right-div {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

/* End of header */
/* Inner Pages  **/
/* form-control & button group */
.form-div .form-group {
  margin-bottom: 20px;
}

.form-div .form-group .form-group-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 475px;
}

.form-div .form-group label.label-text {
  width: 90px;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  letter-spacing: 0.34px;
  text-align: left;
  font-weight: 500;
  margin: 0;
  font-family: 'Omnes';
}

.form-div .form-group .input-group-box {
  width: calc(100% - 90px);
}

.form-div .form-group .block {
  display: block;
}

.form-div .form-group.disabled-group {
  pointer-events: none;
  opacity: 0.5;
}

.form-div .form-group .form-control {
  background: rgba(255, 255, 255, 0.07);
  border: 2px solid #6F3996;
  border-radius: 10px;
  min-height: 37px;
  margin-bottom: 5px;
  padding: 7px 15px 5px 15px;
  font-size: 14px;
  color: #000000;
  line-height: 20px;
  letter-spacing: 0.34px;
  text-align: left;
  font-weight: 400;
  font-family: 'Omnes';
}

.form-div .form-group .form-control::-webkit-input-placeholder {
  color: #000000;
}

.form-div .form-group .form-control::-moz-placeholder {
  color: #000000;
}

.form-div .form-group .form-control:-ms-input-placeholder {
  color: #000000;
}

.form-div .form-group .form-control:-moz-placeholder {
  color: #000000;
}

.form-div .form-group .form-control.error {
  border-color: #F54872;
}

.form-div .form-group .form-control.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.form-div .form-group .info-text {
  font-family: 'Omnes';
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  letter-spacing: 0.29px;
  text-align: left;
  padding: 0 0 5px 0;
}

.form-div .form-group .info-text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-div .form-group .info-text .img-emoji {
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 0 0 5px;
}

.form-div .button-row {
  padding: 15px 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-center-div .form-group {
  margin-bottom: 20px;
}

.form-center-div .form-group .form-group-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 475px;
}

.form-center-div .form-group label {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  margin: 0 0 20px 0;
}

.form-center-div .form-group .input-group-box {
  width: calc(100% - 90px);
}

.form-center-div .form-group .block {
  display: block;
}

.form-center-div .form-group.disabled-group {
  pointer-events: none;
  opacity: 0.5;
}

.form-center-div .form-group .form-control {
  background: #fff;
  border: 2px solid #fff;
  border-radius: 100px;
  min-height: 60px;
  margin-bottom: 5px;
  padding: 7px 30px 5px 30px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 24px;
  letter-spacing: 0.34px;
  text-align: left;
  font-weight: 500;
  font-family: 'Omnes';
}

.form-center-div .form-group .form-control::-webkit-input-placeholder {
  color: #000000;
}

.form-center-div .form-group .form-control::-moz-placeholder {
  color: #000000;
}

.form-center-div .form-group .form-control:-ms-input-placeholder {
  color: #000000;
}

.form-center-div .form-group .form-control:-moz-placeholder {
  color: #000000;
}

.form-center-div .form-group .form-control.error {
  border-color: #F54872;
}

.form-center-div .form-group .form-control.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.form-center-div .form-group .info-text {
  font-family: 'Omnes';
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  letter-spacing: 0.29px;
  text-align: left;
  padding: 0 0 5px 0;
}

.form-center-div .form-group .info-text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-center-div .form-group .info-text .img-emoji {
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 0 0 5px;
}

.form-center-div .form-group label .img-emoji {
  height: 20px;
  width: 20px;
}

.form-center-div .form-group .error-div {
  padding: 10px 0 0 0;
}

.form-center-div .form-group .error-div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #E25674;
  letter-spacing: 0;
}

.form-center-div .form-group .error-div .img-emoji {
  width: 20px;
  margin: 0 0 0 6px;
}

/* End of form-control & button group */
/* Start App Design css  **/
.min-height-100 {
  min-height: 100vh;
}

.min-height-m90 {
  min-height: calc(100vh - 90px);
}

.min-height-m100 {
  min-height: calc(100vh - 100px);
}

.min-height-m190 {
  min-height: calc(100vh - 190px);
}

.min-height-m200 {
  min-height: calc(100vh - 200px);
}

.min-height-m285 {
  min-height: calc(100vh - 285px);
}

.max-height-m285 {
  max-height: calc(100vh - 285px);
  overflow-y: auto;
  min-height: calc(100vh - 385px);
}

.app-main-area-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.app-main-area-section .app-main-area-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.disabled {
  opacity: 0.2;
}

.pt-100 {
  padding-top: 100px !important;
}

.app-top-bar-div {
  width: 100%;
  background-color: #652D90;
  position: relative;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.app-top-bar-div .app-top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: inherit;
}

.app-top-bar-div .app-top-row .app-top-left-div {
  width: 20%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 20px;
}

.app-top-bar-div .app-top-row .app-top-right-div {
  width: 20%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px 20px;
}

.app-top-bar-div .app-top-row .app-center-right-div {
  width: 60%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 20px;
}

.app-top-bar-div .app-top-row .link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-top-bar-div .app-top-row .logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-top-bar-div .app-top-row .img-logo {
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.app-top-bar-div .app-top-row .white-text-group h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.app-top-bar-div.app-top-white-bar-div {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.app-top-bar-div.app-top-white-bar-div h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #413F44;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.app-middle-area-div {
  margin: 0;
  position: relative;
}

.app-middle-area-root.app-middle-code-area-root {
  background-color: #642e90;
}

.app-middle-area-root.app-middle-select-class-area-root {
  background-color: #642e90;
}

.center-middle-area {
  padding: 0;
  margin: 0;
  position: relative;
}

.center-middle-area .code-area-div {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
  min-height: inherit;
}

.center-middle-area .code-thumb-box {
  width: 100%;
}

.center-middle-area .img-div {
  width: 100%;
  margin: 0 0 70px 0;
  text-align: center;
}

.center-middle-area .img-logo-code {
  width: 210px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

.bottom-area-div {
  padding: 0;
  margin: 0;
  position: relative;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bottom-area-div p {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  margin: 0 0 0px 0;
}

.bottom-area-div .link {
  color: #fff;
  text-decoration: underline;
}

.bottom-area-div .link:hover, .bottom-area-div .link:focus {
  color: #c2a5ef;
}

/* Select class */
.select-class-area-div {
  padding: 0px 0 40px 0;
}

.select-class-area-div .select-class-header-box {
  padding: 20px 0 40px 0;
}

.select-class-area-div h1 {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  padding: 0;
  margin: 0 0 15px 0;
  position: relative;
}

.select-class-box {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
  border: 3px solid #FFFFFF;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.select-class-box .select-class-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.select-class-box .select-class-left-box {
  width: 20%;
}

.select-class-box .select-class-left-box .img-class {
  -o-object-fit: contain;
     object-fit: contain;
  height: 80px;
}

.select-class-box .select-class-right-box {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 20px;
}

.select-class-box .select-class-right-box .text-title-div {
  width: calc(100% - 60px);
}

.select-class-box .select-class-right-box .icon-div {
  width: 60px;
  text-align: right;
}

.select-class-box .select-class-right-box h3 {
  width: 100%;
  text-align: left;
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  margin: 0 0 5px 0;
  position: relative;
  padding: 0 20px 0 0;
}

.select-class-box .select-class-right-box .span-year {
  display: block;
}

.heading-top-code {
  padding: 10px 0;
  margin: 0;
  position: relative;
}

.heading-top-code h2 {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  margin: 0 0 70px 0;
}

.heading-top-code .img-character-code {
  max-width: 310px;
}

/* End of Select class */
/*  Student Home  */
.chat-middle-area {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.chat-div {
  padding: 30px 0;
  position: relative;
  width: 100%;
}

.chat-div .chat-box {
  padding: 15px 20px;
  margin: 0 0 30px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #652D90;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px 20px 20px 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #262626;
  letter-spacing: 0.76px;
  text-align: left;
  max-width: 75%;
}

.chat-div .chat-box .img-emoji {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.chat-div .chat-box:after {
  content: "";
  position: absolute;
  left: -3px;
  bottom: -26px;
  height: 25px;
  width: 25px;
  background-color: #652D90;
  -webkit-clip-path: polygon(0 0, 0% 80%, 100% 0);
          clip-path: polygon(0 0, 0% 80%, 100% 0);
}

.chat-div .chat-box::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -19px;
  height: 22px;
  width: 22px;
  background-color: #ffffff;
  -webkit-clip-path: polygon(0 0, 0% 80%, 100% 0);
          clip-path: polygon(0 0, 0% 80%, 100% 0);
  z-index: 2;
}

.chat-div .chat-box.chat-right-box {
  border-radius: 20px 20px 0 20px;
  margin-left: 25%;
}

.chat-div .chat-box.chat-right-box:after {
  content: "";
  position: absolute;
  left: auto;
  right: -3px;
  bottom: -26px;
  height: 25px;
  width: 25px;
  background-color: #652D90;
  -webkit-clip-path: polygon(0 0, 100% 80%, 100% 0);
          clip-path: polygon(0 0, 100% 80%, 100% 0);
}

.chat-div .chat-box.chat-right-box::before {
  content: "";
  position: absolute;
  left: auto;
  right: 0;
  bottom: -19px;
  height: 22px;
  width: 22px;
  background-color: #ffffff;
  -webkit-clip-path: polygon(0 0, 100% 80%, 100% 0);
          clip-path: polygon(0 0, 100% 80%, 100% 0);
  z-index: 2;
}

.emotion-box-root {
  padding: 20px 20px 10px 20px;
  background: #FFFFFF;
  border: 3px solid #652D90;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  position: relative;
}

.emotion-box-root .emotion-box-heading {
  position: relative;
  padding: 0;
  margin: 0 0 25px 0;
}

.emotion-box-root .emotion-box-heading h2 {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  text-align: center;
  position: relative;
  width: 100%;
  padding: 0 30px;
}

.emotion-box-root .emotion-box-heading .link-quest {
  position: absolute;
  right: 0;
  top: 2px;
}

.emotion-box-root .emotion-box-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
}

.emotion-box-root .emotion-box {
  width: 33.3%;
  position: relative;
  text-align: center;
  margin: 0 0 25px 0;
}

.emotion-box-root .emotion-box .emotion-link {
  display: block;
}

.emotion-box-root .emotion-box .mood-icon {
  width: 72px;
  height: 72px;
  margin: 0 0 10px 0;
}

.emotion-box-root .emotion-box h4 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  position: relative;
  width: 100%;
  padding: 0 5px;
}

.happy-box {
  color: #A04F18;
}

.happy-box a {
  color: inherit;
}

.excited-box {
  color: #891818;
}

.excited-box a {
  color: inherit;
}

.caring-box {
  color: #991C5B;
}

.caring-box a {
  color: inherit;
}

.calm-box {
  color: #3976C0;
}

.calm-box a {
  color: inherit;
}

.ok-box {
  color: #652D90;
}

.ok-box a {
  color: inherit;
}

.confused-box {
  color: #126D2B;
}

.confused-box a {
  color: inherit;
}

.anxious-box {
  color: #87259C;
}

.anxious-box a {
  color: inherit;
}

.sad-box {
  color: #1D499D;
}

.sad-box a {
  color: inherit;
}

.angry-box {
  color: #841238;
}

.angry-box a {
  color: inherit;
}

/** footer student home */
.btn.btn-outline-general {
  padding: 0 20px;
  margin: 0;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 100px;
  height: 60px;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-outline-general .img-emoji {
  height: 30px;
  width: 30px;
  margin: 0 0 0 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.btn.btn-outline-general:hover, .btn.btn-outline-general:focus {
  background-color: #fff;
  color: #652d90;
}

.view-my-bottom-area-div {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  background-color: #652D90;
  height: 100px;
  position: relative;
  z-index: 99;
}

.view-my-bottom-area-div .bottom-area-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding: 10px 20px;
}

/* End of Student Home  */
/* Student journal */
.center-logs-details {
  padding: 0;
  margin: 0;
  position: relative;
}

.log-title-heading-box {
  background-color: #652D90;
  min-height: 80px;
  padding: 20px 20px;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 1.27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.log-title-heading-box h4 {
  font-weight: 600;
}

.log-journal-box {
  padding: 15px 20px;
  margin: 0 0 0px 0;
  border-radius: 0px;
  min-height: 75px;
  width: 100%;
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: inset 0 -1px 0 0 #E2D0D0;
          box-shadow: inset 0 -1px 0 0 #E2D0D0;
  color: #891818;
}

.log-journal-box .log-top-box {
  padding: 0;
  margin: 0 0 0px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.log-journal-box .log-icon-box {
  width: 92px;
}

.log-journal-box .log-text-box-top {
  width: calc(100% - 92px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 12px 0 0 0;
}

.log-journal-box .log-left-text-box-top {
  width: 100%;
}

.log-journal-box .title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 5px 0;
}

.log-journal-box .title-text .title-name {
  font-weight: 500;
  font-size: 20px;
  color: inherit;
  max-width: calc(100% - 100px);
  word-break: break-word;
}

.log-journal-box .title-text .date-time-text {
  max-width: 100px;
  font-weight: 500;
  font-size: 14px;
  color: #636363;
  letter-spacing: 0;
  word-break: break-word;
}

.log-journal-box p {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  margin: 0 0 5px 0;
}

.log-journal-box .mood-icon {
  height: 72px;
  width: 72px;
}

.happy-journal-box {
  color: #A04F18;
}

.happy-journal-box a {
  color: inherit;
}

.excited-journal-box {
  color: #891818;
}

.excited-journal-box a {
  color: inherit;
}

.caring-journal-box {
  color: #991C5B;
}

.caring-journal-box a {
  color: inherit;
}

.calm-journal-box {
  color: #3976C0;
}

.calm-journal-box a {
  color: inherit;
}

.ok-journal-box {
  color: #652D90;
}

.ok-journal-box a {
  color: inherit;
}

.confused-journal-box {
  color: #126D2B;
}

.confused-journal-box a {
  color: inherit;
}

.anxious-journal-box {
  color: #87259C;
}

.anxious-journal-box a {
  color: inherit;
}

.sad-journal-box {
  color: #1D499D;
}

.sad-journal-box a {
  color: inherit;
}

.angry-journal-box {
  color: #841238;
}

.angry-journal-box a {
  color: inherit;
}

/* end of student journal */
/*  Student Mood Log  **/
.log-mood-middle-area {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.chat-log-mood-div .chat-box-inner {
  width: 100%;
}

.chat-log-mood-div .thumb-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 15px 20px 15px;
  position: relative;
}

.chat-log-mood-div .back-thumb-div {
  padding: 20px 20px 20px 20px;
}

.chat-log-mood-div .back-thumb-div .back-home {
  position: absolute;
  left: 0;
  bottom: 0;
}

.chat-log-mood-div .back-thumb-div .img-char {
  width: 110px;
  -o-object-fit: contain;
     object-fit: contain;
}

.chat-log-mood-div .back-thumb-div .undo-icon {
  width: 25px;
  height: 25px;
}

.send-message-bottom-area-div {
  padding: 15px 25px;
  margin: 0;
  width: 100%;
  background-color: #652D90;
  height: auto;
  z-index: 99;
  max-height: 285px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.send-message-bottom-area-div .message-area-row {
  width: 100%;
}

.send-message-bottom-area-div .bottom-area-row {
  padding: 15px 0 10px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.send-message-bottom-area-div .message-input-box {
  padding: 10px 0;
}

.send-message-bottom-area-div .message-input-box .form-group {
  margin: 0;
}

.send-message-bottom-area-div .message-input-box .form-group textarea.form-control {
  margin: 0;
  border: none;
  border-radius: 24px;
  resize: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #262626;
  letter-spacing: 0.76px;
  padding: 20px;
}

.send-message-bottom-area-div p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  letter-spacing: 0.76px;
  text-align: left;
}

.send-message-bottom-area-div .ans-area-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 255px;
}

.send-message-bottom-area-div .ans-area-row .center-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 600px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 45px 10px;
}

.send-message-bottom-area-div .btn.btn-outline-general.btn-ans {
  min-width: 100px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.send-message-bottom-area-div .button-area-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 255px;
  padding: 20px 0;
}

.send-message-bottom-area-div .button-area-row .btn.btn-outline-general.btn-ans-group:last-child {
  margin-bottom: 0px;
}

.send-message-bottom-area-div .btn.btn-outline-general.btn-ans-group {
  min-width: 265px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 20px 0;
  height: 56px;
}

.app-log-mood-area-root {
  min-height: calc(100vh - 385px);
  max-height: calc(100vh - 385px);
  overflow-y: auto;
}

.app-log-mood-area-root .min-height-m285 {
  min-height: calc(100vh - 500px);
}

/*  End of Student Mood Log  **/
@media (min-width: 1025px) and (max-height: 750px) {
  .chat-div {
    zoom: 70%;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  body.overflow-fixed {
    overflow-y: hidden;
  }
  /* Start App Design css  **/
  .container-md {
    max-width: 500px;
  }
  .forward-icon {
    height: 26px;
    width: 26px;
  }
  .backward-icon {
    height: 26px;
    width: 26px;
  }
  .backward-icon2 {
    height: 26px;
    width: 26px;
  }
  .logout-icon {
    height: 26px;
    width: 26px;
  }
  .history-icon {
    height: 26px;
    width: 26px;
  }
  .form-center-div .form-group label {
    font-size: 18px;
    margin: 0 0 15px 0;
  }
  .form-center-div .form-group label .img-emoji {
    height: 16px;
    width: 16px;
  }
  .form-center-div .form-group .form-control {
    min-height: 50px;
    padding: 7px 20px 5px 20px;
    font-size: 20px;
    line-height: 24px;
  }
  .form-center-div .form-group .error-div {
    padding: 5px 0 0 0;
  }
  .form-center-div .form-group .error-div p {
    font-size: 13px;
    line-height: 20px;
  }
  .form-center-div .form-group .error-div .img-emoji {
    width: 16px;
    margin: 0 0 0 4px;
  }
  .app-top-bar-div {
    height: 50px;
  }
  .app-top-bar-div .app-top-row .app-top-right-div {
    width: 20%;
    padding: 10px 15px;
  }
  .app-top-bar-div .app-top-row .app-top-left-div {
    width: 20%;
    padding: 10px 15px;
  }
  .app-top-bar-div .app-top-row .img-logo {
    height: 32px;
  }
  .app-top-bar-div .app-top-row .white-text-group h1 {
    font-size: 18px;
    line-height: 26px;
  }
  .app-top-bar-div.app-top-white-bar-div h1 {
    font-size: 18px;
    line-height: 26px;
  }
  .center-middle-area .img-div {
    margin: 0 0 45px 0;
  }
  .center-middle-area .img-logo-code {
    width: 175px;
  }
  .center-middle-area .code-area-div {
    padding: 0 20px;
  }
  .pt-100 {
    padding-top: 50px !important;
  }
  .min-height-m90 {
    min-height: calc(100vh - 40px);
  }
  .min-height-m100 {
    min-height: calc(100vh - 50px);
  }
  .min-height-m190 {
    min-height: calc(100vh - 90px);
  }
  .min-height-m200 {
    min-height: calc(100vh - 100px);
  }
  .min-height-m285 {
    min-height: calc(100vh - 251px);
  }
  .bottom-area-div {
    height: 40px;
  }
  .bottom-area-div p {
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 5px 0;
  }
  /* select class */
  .select-class-area-div {
    padding: 15px 0 20px 0;
  }
  .select-class-area-div .select-class-header-box {
    padding: 0px 0 15px 0;
  }
  .select-class-area-div h1 {
    font-size: 18px;
    margin: 0 0 10px 0;
  }
  .select-class-box {
    margin: 0 0 10px 0;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
  }
  .select-class-box .select-class-link {
    padding: 15px;
  }
  .select-class-box .select-class-left-box {
    width: 55px;
  }
  .select-class-box .select-class-left-box .img-class {
    height: 50px;
    width: 50px;
  }
  .select-class-box .select-class-right-box {
    width: calc(100% - 55px);
    padding: 0 0 0 10px;
  }
  .select-class-box .select-class-right-box h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 0px 0;
    padding: 0 10px 0 0;
  }
  .select-class-box .select-class-right-box .text-title-div {
    width: calc(100% - 35px);
  }
  .select-class-box .select-class-right-box .icon-div {
    width: 35px;
  }
  .heading-top-code h2 {
    font-size: 18px;
    margin: 0 0 35px 0;
  }
  .heading-top-code .img-character-code {
    max-width: 225px;
  }
  /* End of select class */
  /* Student Home */
  .chat-div {
    padding: 12px 0;
  }
  .chat-div .chat-box {
    padding: 10px 12px;
    margin: 0 0 20px 0;
    border: 2px solid #652D90;
    border-radius: 10px 10px 10px 0;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.38px;
    text-align: left;
    max-width: 75%;
  }
  .chat-div .chat-box .img-emoji {
    width: 18px;
    height: 18px;
    margin: 0 0 0 2px;
  }
  .chat-div .chat-box::before {
    left: 0;
    bottom: -16px;
    height: 16px;
    width: 16px;
  }
  .chat-div .chat-box:after {
    left: -2px;
    bottom: -21px;
    height: 20px;
    width: 20px;
  }
  .chat-div .chat-box.chat-right-box::before {
    bottom: -16px;
    height: 16px;
    width: 16px;
  }
  .chat-div .chat-box.chat-right-box:after {
    bottom: -21px;
    height: 20px;
    width: 20px;
    right: -2px;
  }
  .emotion-box-root {
    padding: 15px 12px 5px 12px;
    border: 2px solid #652D90;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 18px;
  }
  .emotion-box-root .emotion-box-heading h2 {
    font-size: 18px;
    padding: 0 25px;
  }
  .emotion-box-root .emotion-box-heading .link-quest {
    top: -2px;
  }
  .emotion-box-root .emotion-box-body {
    padding: 0 10px;
  }
  .emotion-box-root .emotion-box h4 {
    font-size: 16px;
    padding: 0 3px;
  }
  .emotion-box-root .emotion-box .mood-icon {
    width: 60px;
    height: 60px;
    margin: 0 0 5px 0;
  }
  .btn.btn-outline-general {
    padding: 0 15px;
    border: 2px solid #fff;
    border-radius: 50px;
    height: 32px;
    font-size: 16px;
  }
  .btn.btn-outline-general .img-emoji {
    height: 18px;
    width: 18px;
    margin: 0 0 0 5px;
  }
  .view-my-bottom-area-div {
    height: 50px;
  }
  .view-my-bottom-area-div .bottom-area-row {
    padding: 8px 15px 8px 15px;
  }
  /* End of Student Home */
  /* student journal */
  .log-title-heading-box {
    min-height: 40px;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  .log-journal-box {
    padding: 10px 15px 10px 15px;
    min-height: 75px;
  }
  .log-journal-box .log-text-box-top {
    width: calc(100% - 51px);
    padding: 7px 0 0 0;
  }
  .log-journal-box .mood-icon {
    height: 36px;
    width: 36px;
  }
  .log-journal-box .log-icon-box {
    width: 51px;
  }
  .log-journal-box p {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 5px 0;
  }
  .log-journal-box .title-text .title-name {
    font-size: 16px;
    max-width: calc(100% - 60px);
  }
  .log-journal-box .title-text .date-time-text {
    max-width: 60px;
    font-size: 12px;
  }
  /* end of student journal */
  /*  Student Mood Log  **/
  .chat-log-mood-div .back-thumb-div {
    padding: 20px 15px 15px 20px;
  }
  .chat-log-mood-div .back-thumb-div .img-char {
    width: 60px;
  }
  .chat-log-mood-div .back-thumb-div .undo-icon {
    width: 16px;
    height: 17px;
  }
  .send-message-bottom-area-div {
    height: auto;
    padding: 10px 15px;
    max-height: 201px;
  }
  .send-message-bottom-area-div .btn.btn-outline-general.btn-send {
    padding: 0 12px;
  }
  .send-message-bottom-area-div .bottom-area-div p {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 0px 0;
  }
  .send-message-bottom-area-div .bottom-area-row {
    padding: 5px 0 5px 0;
  }
  .send-message-bottom-area-div .message-input-box .form-group textarea.form-control {
    border-radius: 12px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.32px;
    padding: 12px;
  }
  .send-message-bottom-area-div .ans-area-row {
    min-height: 181px;
  }
  .send-message-bottom-area-div .ans-area-row .center-box {
    padding: 25px 10px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .send-message-bottom-area-div .btn.btn-outline-general.btn-ans {
    min-width: 60px;
  }
  .send-message-bottom-area-div .button-area-row {
    min-height: 181px;
  }
  .send-message-bottom-area-div .btn.btn-outline-general.btn-ans-group {
    min-width: 175px;
    margin: 0 0 15px 0;
    height: 32px;
  }
  .app-log-mood-area-root {
    min-height: calc(100vh - 250px);
    max-height: calc(100vh - 251px);
  }
  /*  End of Student Mood Log  **/
}

@media (max-width: 767px) and (max-width: 350px) {
  .chat-div .chat-box {
    font-size: 14px;
    max-width: 80%;
  }
  .emotion-box-root .emotion-box-body {
    padding: 0;
  }
  .emotion-box-root .emotion-box .mood-icon {
    width: 50px;
    height: 50px;
    margin: 0 0 2px 0;
  }
  .emotion-box-root {
    padding: 12px 10px 0px 10px;
  }
}

@media (max-width: 767px) {
  /* End of Start App Design css  **/
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  body.overflow-fixed {
    overflow-y: hidden;
  }
  /* Start App Design css  **/
  /* End of Start App Design css  **/
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  /* Start App Design css  **/
  /* End of Start App Design css  **/
}
/*# sourceMappingURL=style-app.css.map */