.general-pass-code-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.general-pass-code-section .general-pass-code-div {
  padding: 0px 0;
  margin: 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.pass-code-list-root {
  min-height: calc(100vh - 85px);
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.view-right-small-char-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.view-right-small-char-div .center-character-thumb {
  padding: 20px 0 10px 0;
  margin: 0 auto;
  position: relative;
  text-align: right;
}

.view-right-small-char-div .center-character-thumb img.img-character {
  width: 140px;
  margin: 0 auto;
}

/* pass code css */
.general-pass-code-div .general-header-row {
  min-height: 85px;
  padding: 35px 0 10px 0;
}

.general-pass-code-div .img-logo {
  width: 140px;
  -o-object-fit: contain;
     object-fit: contain;
}

.full-pass-code-div {
  width: 100%;
}

.general-title {
  padding: 0;
  margin: 0 0 15px 0;
  position: relative;
}

.general-title h2 {
  padding: 0;
  margin: 0 0 5px 0;
  font-weight: 600;
  font-size: 22px;
  color: #000000;
  text-align: center;
  width: 100%;
}

.general-title p {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  text-align: center;
}

.general-class-coe {
  padding: 0;
  margin: 0 0 25px 0;
  position: relative;
}

.general-class-coe h2 {
  padding: 0;
  margin: 0 0 2px 0;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  text-align: left;
  width: 100%;
}

.general-class-coe p {
  padding: 0;
  margin: 0 0 2px 0;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  text-align: left;
}

.access-list-general-div {
  min-height: calc(100vh - 350px);
}

.access-list-general-div .access-code-box {
  margin: 0 0 5px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F3F3F3;
  border-radius: 10px;
  min-height: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
}

.access-list-general-div .access-code-box .left-box {
  width: 65%;
}

.access-list-general-div .access-code-box .right-box {
  width: 35%;
  text-align: right;
}

@media (max-width: 767px) {
  .view-right-small-char-div .center-character-thumb img.img-character {
    width: 150px;
  }
}
/*# sourceMappingURL=passcode-list.css.map */