@mixin omnes-family { font-family: 'Omnes'; }


.general-pass-code-section{ padding: 0; margin: 0; position: relative; 
    .general-pass-code-div { padding: 0px 0; margin: 0; position: relative;background-repeat: no-repeat; background-size: cover; background-position: right; }
}
.pass-code-list-root{ min-height: calc(100vh - 85px); padding: 10px 0; display: flex; align-items: flex-start; flex-direction: column; flex-wrap: wrap; justify-content: flex-start;  }


.view-right-small-char-div{
    padding: 0; margin: 0; position: relative; 
    .center-character-thumb { padding: 20px 0 10px 0; margin: 0 auto; position: relative; text-align: right;
        img.img-character { width: 140px; margin: 0 auto; }
    }
}


/* pass code css */

.general-pass-code-div{ 
    .general-header-row { min-height: 85px; padding: 35px 0 10px 0; }
    .img-logo { width: 140px; object-fit: contain; }
}

.full-pass-code-div { width: 100%; }

.general-title { padding: 0; margin: 0 0 15px 0; position: relative;
    h2 { padding: 0; margin: 0 0 5px 0;  font-weight: 600; font-size: 22px; color: #000000; text-align: center; width: 100%; }
    p { font-weight: 600; font-size: 16px; color: #000000; text-align: center; }
}

.general-class-coe { padding: 0; margin: 0 0 25px 0; position: relative;
    h2 { padding: 0; margin: 0 0 2px 0;  font-weight: 500; font-size: 14px; color: #000000; text-align: left; width: 100%; }
    p {padding: 0; margin: 0 0 2px 0; font-weight: 500; font-size: 14px; color: #000000; text-align: left; }
}

.access-list-general-div{
    min-height: calc(100vh - 350px);
    .access-code-box{
        margin: 0 0 5px 0; position: relative; display: flex; justify-content: space-between; background-color: #F3F3F3; border-radius: 10px; min-height: 32px; align-items: center; padding: 5px 10px;
        .left-box{ width: 65%; }
        .right-box{ width: 35%; text-align: right;}
    }
}


@media (max-width: 767px) {

   .view-right-small-char-div {
        .center-character-thumb {
            img.img-character {
                width: 150px;
            }
        }
    }
    
    

}

@media (min-width: 768px) and (max-width: 1024px) {
   
    

}