.general-dashboard-section {
  padding: 0;
  margin: 0 0 0 0;
  position: relative;
}

.general-dashboard-section .general-dashboard-div {
  padding: 0px 0;
  margin: 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.general-dashboard-section .background-color-main {
  margin: 0 auto;
  background-color: transparent;
  max-width: 100%;
}

.general-account-root {
  min-height: calc(100vh - 120px);
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-dashboard-body {
  padding: 10px 0 0 0;
}

.full-account-div {
  margin-bottom: 10px;
  padding: 30px 40px;
  background: #FFFFFF;
  border: 3px solid #C2A5EF;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 240px);
}

.full-account-div.full-educator-div {
  padding: 25px 25px;
  min-height: calc(100vh - 500px);
}

.full-account-div .general-title {
  position: relative;
  padding: 5px 0 0 0;
  margin: 0 0 40px 0;
}

.full-account-div .general-title .center-text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 30px;
  position: relative;
  font-family: 'Omnes';
}

.full-account-div .general-title .center-text-block h2 {
  font-size: 18px;
  line-height: 26px;
  color: #3F3F44;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.full-account-div .general-title .center-text-block h2 .img-emoji {
  margin: 0 0 0 10px;
}

.full-account-div .cancel-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

.full-account-div .form-div {
  min-height: calc(100vh - 560px);
}

.row-space-between-e01 {
  padding-top: 20px;
  margin-bottom: 20px;
}

.pt-7 {
  padding-top: 7px !important;
}

.btn-common-outline.btn-remove-ae {
  min-width: 149px;
  font-size: 16px;
  padding: 6px 12px 5px 12px;
  letter-spacing: -0.42px;
}

.btn-common-outline.btn-send-invite-ae {
  min-width: 149px;
  font-size: 16px;
  padding: 6px 15px 5px 15px;
}

.btn-common-outline.btn-send-invite-ae-success {
  font-weight: 600;
  background: #6BCD83;
  border: 3px solid #6BCD83;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.btn-common-outline.btn-send-invite-ae-success .img-emoji {
  margin: -3px 0 0 5px;
  height: 20px;
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.btn-common-outline.btn-send-invite-ae-success:hover, .btn-common-outline.btn-send-invite-ae-success:focus {
  background: #fff;
  border: 2px solid #6BCD83;
  color: #6F3996;
}

.educator-form-div .button-row.send-invite-button-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* send invite */
.message-text-div {
  margin: 15px 0 0 0;
}

.message-text-div p {
  font-family: 'Omnes';
  font-weight: 500;
  font-size: 16px;
  color: #652D90;
  letter-spacing: -0.42px;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* End of send invite */
.general-educator-root .educator-form-div {
  padding: 0 20px;
  min-height: 520px;
}

@media (max-width: 767px) {
  .general-educator-root {
    margin: 0 0 20px 0;
  }
  .top-info-header-group-div {
    margin: 0 0 15px 0;
  }
  .full-account-div.full-educator-div {
    padding: 20px 20px;
    min-height: calc(100vh - 320px);
  }
  .row-space-between-e01 {
    padding-top: 0;
    margin-bottom: 10px;
  }
  .btn-common-outline.btn-remove-ae {
    min-width: 115px;
    font-size: 13px;
    padding: 7px 10px 5px 10px;
  }
  .btn-common-outline.btn-send-invite-ae {
    min-width: 115px;
    font-size: 13px;
    padding: 7px 10px 5px 10px;
  }
  .btn-common-outline.btn-send-invite-ae-success .img-emoji {
    height: 18px;
    width: 18px;
  }
  .message-text-div p {
    font-size: 12px;
  }
  .general-educator-root .educator-form-div {
    padding: 0 10px;
    min-height: 240px;
  }
}
/*# sourceMappingURL=add-educator.css.map */