.general-dashboard-section {
  padding: 0;
  margin: 0 0 0 0;
  position: relative;
}

.general-dashboard-section .general-dashboard-div {
  padding: 0px 0;
  margin: 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.general-dashboard-section .background-color-main {
  margin: 0 auto;
  background-color: transparent;
  max-width: 100%;
}

.general-account-root {
  min-height: calc(100vh - 120px);
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-dashboard-body {
  padding: 10px 0 0 0;
}

.full-account-div {
  margin-bottom: 10px;
  padding: 30px 40px;
  background: #FFFFFF;
  border: 3px solid #C2A5EF;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 240px);
}

.full-account-div.full-student-div {
  padding: 25px 25px;
  min-height: calc(100vh - 500px);
}

.full-account-div .general-title {
  position: relative;
  padding: 5px 0 0 0;
  margin: 0 0 40px 0;
}

.full-account-div .general-title .center-text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 30px;
  position: relative;
  font-family: 'Omnes';
}

.full-account-div .general-title .center-text-block h2 {
  font-size: 18px;
  line-height: 26px;
  color: #3F3F44;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.full-account-div .general-title .center-text-block h2 .img-emoji {
  margin: 0 0 0 10px;
}

.full-account-div .cancel-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

.full-account-div .form-div {
  min-height: calc(100vh - 560px);
}

.full-account-div .form-student-div {
  min-height: calc(100vh - 830px);
}

.form-student-div h3.h3-text {
  font-family: 'Omnes';
  font-weight: 500;
  font-size: 14px;
  color: #3F3F44;
  letter-spacing: 0.34px;
  text-align: center;
  margin: 0 0 20px 0;
}

.form-student-div .add-group-box {
  margin-bottom: 10px;
}

.form-student-div .add-group-box .form-group-row {
  max-width: 320px;
  margin: 0 auto;
}

.form-student-div .add-group-box .input-group-box {
  width: 100%;
}

.form-student-div .add-group-box .input-row {
  margin: 0 0 10px 0;
}

.form-student-div .add-btn-upload-row {
  padding: 20px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-student-div .add-btn-upload-row .plus-icon {
  height: 24px;
  width: 24px;
}

.form-student-div .add-btn-upload-row .left-btn-box {
  width: calc(100% - 145px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 145px;
}

.form-student-div .add-btn-upload-row .custom-file-upload1 .custom-file-input {
  display: none;
}

.form-student-div .add-btn-upload-row .custom-file-upload1 .custom-file-label {
  position: relative;
  height: auto;
  padding: 0rem 0rem;
  line-height: 16px;
  background-color: transparent;
  border: 0px solid #ced4da;
  border-radius: 0;
  width: 145px;
  padding: 0 10px;
  font-weight: 500;
  font-size: 14px;
  color: #6F3996;
  letter-spacing: 0.34px;
  text-align: left;
  text-decoration: underline;
  font-family: 'Omnes';
  cursor: pointer;
  word-break: break-word;
}

.form-student-div .add-btn-upload-row .custom-file-upload1 .custom-file-input:lang(en) ~ .custom-file-label::after {
  display: none;
}

.form-student-div .center-button-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-student-div .btn-save {
  padding-bottom: 5px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.view-character-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.view-character-div .center-character-thumb {
  padding: 40px 0 30px 0;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.view-character-div .center-character-thumb img.img-character {
  width: 200px;
  margin: 0 auto;
}

/* Edit student */
.full-edit-student-div {
  margin-bottom: 10px;
  padding: 25px 25px;
  background: #FFFFFF;
  border: 3px solid #C2A5EF;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 555px);
}

.full-edit-student-div .general-title {
  position: relative;
  padding: 5px 0 0 0;
  margin: 0 0 40px 0;
}

.full-edit-student-div .general-title .center-text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 30px;
  position: relative;
  font-family: 'Omnes';
}

.full-edit-student-div .general-title .center-text-block h2 {
  font-size: 18px;
  line-height: 26px;
  color: #3F3F44;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.full-edit-student-div .general-title .center-text-block h2 .img-emoji {
  margin: 0 0 0 10px;
}

.full-edit-student-div .cancel-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

.full-edit-student-div .form-div {
  min-height: calc(100vh - 830px);
}

.row-space-between01 {
  padding-top: 20px;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.pt-9 {
  padding-top: 9px !important;
}

.form-group.mb-50 {
  margin-bottom: 40px;
}

.student-form-div .pass-code-form-group .form-group-row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.student-form-div .pass-code-form-group .input-group-box {
  width: calc(55% - 90px);
}

.student-form-div .pass-code-form-group .pass-code-control {
  font-weight: 500;
}

.student-form-div .pass-code-form-group .pass-code-control.disabled {
  background: #F4F0F7;
  border-color: #F4F0F7;
  pointer-events: none;
  color: #3F3F44;
  opacity: 1;
}

.student-form-div .pass-code-form-group .info-text {
  min-height: 77px;
}

.student-form-div .button-code-box {
  width: 45%;
  padding: 0 0 0 25px;
}

.student-form-div .info-text p {
  font-family: 'Omnes';
  padding: 10px 0;
  font-weight: 400;
  font-size: 12px;
  color: #3F3F44;
  line-height: 13px;
}

.student-form-div .error-info-text p {
  color: #E25674;
}

.btn-general-link.btn-code {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Omnes';
  min-height: 37px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 110px;
  word-break: break-word;
  padding: 0 5px;
  text-align: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  white-space: normal;
}

.btn-general-link.btn-code.btn-generate-code {
  text-decoration: underline;
}

/* End of Edit student */
.form-student-div-inner-height {
  min-height: 335px;
}

.form-add-student-div-inner-height {
  min-height: 335px;
}

@media (max-width: 767px) {
  .general-student-root {
    margin: 0 0 20px 0;
  }
  .top-info-header-group-div {
    margin: 0 0 15px 0;
  }
  .full-account-div.full-student-div {
    padding: 20px 20px;
  }
  .form-student-div h3.h3-text {
    font-size: 12px;
  }
  .form-student-div .add-btn-upload-row .left-btn-box {
    width: 100%;
    padding-left: 0;
  }
  .form-student-div .add-btn-upload-row .right-upload-box {
    width: 100%;
    text-align: center;
    margin: 20px 0 10px 0;
  }
  .form-student-div .add-btn-upload-row .custom-file-upload1 .custom-file-label {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
  }
  .view-character-div .center-character-thumb img.img-character {
    width: 150px;
  }
  /* Edit student */
  .full-account-div.full-edit-student-div {
    padding: 20px 20px;
    min-height: calc(100vh - 320px);
  }
  .row-space-between01 {
    padding-top: 0;
    margin-bottom: 10px;
  }
  .btn-common-outline.btn-send-invite-ae-success .img-emoji {
    height: 18px;
    width: 18px;
  }
  .student-form-div .pass-code-form-group .input-group-box {
    width: calc(100% - 75px);
  }
  .student-form-div .pass-code-form-group .info-text {
    min-height: auto;
  }
  .student-form-div .button-code-box {
    width: 100%;
    padding: 0 20px 0 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .form-group.mb-50 {
    margin-bottom: 30px;
  }
  .student-form-div .button-code-box {
    padding-right: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 70px;
  }
  .student-form-div .button-code-box .btn-general-link.btn-code {
    text-align: left;
  }
  /* End of Edit student */
}
/*# sourceMappingURL=add-edit-students.css.map */