@mixin omnes-family { font-family: 'Omnes'; }


.general-dashboard-section{ padding: 0; margin: 0 0 0 0; position: relative; 
    .general-dashboard-div { padding: 0px 0; margin: 0; position: relative;background-repeat: no-repeat; background-size: cover; background-position: right; }
    .background-color-main { margin: 0 auto; background-color: transparent; max-width: 100%; }
}
.general-account-root{ min-height: calc(100vh - 120px); padding: 10px 0; display: flex; align-items: flex-start; flex-direction: column; flex-wrap: wrap; justify-content: flex-start;  }

.main-dashboard-body{ padding: 10px 0 0 0; }

.full-account-div { margin-bottom: 10px; padding: 30px 40px; background: #FFFFFF; border: 3px solid #C2A5EF; box-shadow: 0 2px 4px 0 rgba(0,0,0,0); border-radius: 4px; width: 100%; height: 100%; min-height: calc(100vh - 240px); 
    &.full-student-div{ padding: 25px 25px; min-height: calc(100vh - 500px); }

    .general-title{ position: relative; padding: 5px 0 0 0; margin: 0 0 40px 0; 
        .center-text-block { display: flex; align-items: center; justify-content: center; padding: 0px 30px; position: relative; @include omnes-family();
            h2 { font-size: 18px; line-height: 26px; color: #3F3F44; display: flex; align-items: center; font-weight: 500;
                .img-emoji { margin: 0 0 0 10px; }
            }
        }
    }

    .cancel-box { display: flex; align-items: center; position: absolute; left: 0; top: 0; }
    .form-div { min-height: calc(100vh - 560px); }

}


.full-account-div{
    .form-student-div{
        min-height: calc(100vh - 830px);
    }
} 


.form-student-div{ 
    
    h3.h3-text { @include omnes-family(); font-weight: 500; font-size: 14px; color: #3F3F44; letter-spacing: 0.34px; text-align: center; margin: 0 0 20px 0; }
    .add-group-box{ 
        margin-bottom: 10px;
        .form-group-row { max-width: 320px; margin: 0 auto; }
        .input-group-box{ width: 100%; }
        .input-row { margin: 0 0 10px 0; }
    }

    .add-btn-upload-row {
        padding: 20px 0 10px 0; display: flex; justify-content: space-between; flex-wrap: wrap;

        .plus-icon{ height: 24px; width: 24px; }

        .left-btn-box { width: calc(100% - 145px); display: flex; align-items: center; justify-content: center; padding-left: 145px; }
        .custom-file-upload1{
            .custom-file-input{ display: none; }
            .custom-file-label {
                position: relative; height: auto; padding: 0rem 0rem; line-height: 16px; background-color: transparent; border: 0px solid #ced4da; border-radius: 0; width: 145px; padding: 0 10px; font-weight: 500; font-size: 14px; color: #6F3996; letter-spacing: 0.34px; text-align: left; text-decoration: underline; @include omnes-family(); cursor: pointer;     word-break: break-word;
            }
            .custom-file-input:lang(en)~.custom-file-label::after{ display: none; }
        }
    }

    .center-button-row { justify-content: center; }
    .btn-save { padding-bottom: 5px; box-shadow: 0 1px 1px 0 rgba(0,0,0,0.50); font-size: 16px; }

}

.view-character-div{
    padding: 0; margin: 0; position: relative; 
    .center-character-thumb { padding: 40px 0 30px 0; margin: 0 auto; position: relative; text-align: center;    
        img.img-character { width: 200px; margin: 0 auto; }
    }
}

/* Edit student */

.full-edit-student-div { margin-bottom: 10px; padding: 25px 25px; background: #FFFFFF; border: 3px solid #C2A5EF; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50); border-radius: 4px; width: 100%; height: 100%; min-height: calc(100vh - 555px); 
    
    .general-title{ position: relative; padding: 5px 0 0 0; margin: 0 0 40px 0; 
        .center-text-block { display: flex; align-items: center; justify-content: center; padding: 0px 30px; position: relative; @include omnes-family();
            h2 { font-size: 18px; line-height: 26px; color: #3F3F44; display: flex; align-items: center; font-weight: 500;
                .img-emoji { margin: 0 0 0 10px; }
            }
        }
    }

    .cancel-box { display: flex; align-items: center; position: absolute; left: 0; top: 0; }
    .form-div { min-height: calc(100vh - 830px); }

}

.row-space-between01{ padding-top: 20px; margin-bottom: 0px; padding-left: 20px; padding-right: 20px; }
.pt-9{ padding-top: 9px !important; }



.form-group.mb-50 { margin-bottom: 40px; }

.student-form-div{
    .pass-code-form-group{
        .form-group-row{ align-items: flex-start; }
        .input-group-box{  width: calc(55% - 90px); }
        .pass-code-control{ font-weight: 500; 
            &.disabled{ background: #F4F0F7; border-color: #F4F0F7; pointer-events: none; color: #3F3F44; opacity: 1; }
        }

        .info-text{ min-height: 77px; }

    }
    .button-code-box { width: 45%; padding: 0 0 0 25px; }

    .info-text{
        p { @include omnes-family(); padding: 10px 0; font-weight: 400; font-size: 12px; color: #3F3F44; line-height: 13px; }
    }
    .error-info-text{
        p { color: #E25674; }
    }
}

.btn-general-link.btn-code { font-size: 14px; font-weight: 500; @include omnes-family(); min-height: 37px; line-height: 18px; display: flex; align-items: flex-start; flex-direction: column; justify-content: center; max-width: 110px; word-break: break-word; padding: 0 5px; text-align: left; flex-wrap: wrap;     white-space: normal; } 
.btn-general-link.btn-code.btn-generate-code{ text-decoration: underline; }



/* End of Edit student */

.form-student-div-inner-height { min-height: 335px; }
.form-add-student-div-inner-height{ min-height: 335px; }

@media (max-width: 767px) {

    .general-student-root { margin: 0 0 20px 0; }

    .top-info-header-group-div {
        margin: 0 0 15px 0;
    }

    .full-account-div{
        &.full-student-div { padding: 20px 20px; }
    }

    .form-student-div{
        h3.h3-text { font-size: 12px;}

        .add-btn-upload-row {

            .left-btn-box { width: 100%; padding-left: 0; }
            .right-upload-box { width: 100%; text-align: center; margin: 20px 0 10px 0; }

            .custom-file-upload1 {
                .custom-file-label { width: 100%; max-width: 300px; margin: 0 auto; font-size: 14px; text-align: center; }
            }
        }

    } 

    .view-character-div {
        .center-character-thumb {
            img.img-character {
                width: 150px;
            }
        }
    }

    /* Edit student */

    .full-account-div{
        &.full-edit-student-div{ padding: 20px 20px; min-height: calc(100vh - 320px); }
    }

    .row-space-between01 { padding-top: 0; margin-bottom: 10px; }

    .btn-common-outline.btn-send-invite-ae-success .img-emoji { height: 18px; width: 18px; }

    .student-form-div{
        .pass-code-form-group{
            .input-group-box { width: calc(100% - 75px); }
            .info-text{ min-height: auto; }
        } 
        .button-code-box { width: 100%; padding: 0 20px 0 75px; display: flex; justify-content: center; align-items: center; text-align: center; }
    } 

    .form-group.mb-50 { margin-bottom: 30px; }
    
    .student-form-div .button-code-box{     padding-right: 0; justify-content: flex-start; padding-left: 70px; 
        .btn-general-link.btn-code{ text-align: left; }
    }
    

    /* End of Edit student */



}

@media (min-width: 768px) and (max-width: 1024px) {



}


