.general-dashboard-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.general-dashboard-section .general-dashboard-div {
  padding: 0px 0;
  margin: 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.general-dashboard-section .background-color-main {
  margin: 0 auto;
  background-color: transparent;
  max-width: 100%;
}

.general-account-root {
  min-height: calc(100vh - 120px);
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-dashboard-body {
  padding: 10px 0 0 0;
}

.box-heading-div .title-heading-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box-heading-div .title-heading-div h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #3F3F44;
  letter-spacing: -0.42px;
  font-family: 'Omnes';
  white-space: normal;
  word-break: break-word;
  max-width: 440px;
}

.box-heading-div .title-heading-div .edit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 15px;
}

.box-heading-div .title-heading-div .edit-icon {
  height: 16px;
  width: 16px;
}

.primary-common-box {
  background: #FFFFFF;
  border: 1px solid rgba(226, 208, 208, 0.5);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 10px 15px;
  margin: 0 0 20px 0;
}

.primary-common-box .primary-header-box {
  padding: 0;
  margin: 0 0 15px 0;
  position: relative;
}

.primary-common-box .primary-header-box .primary-header-box-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.primary-common-box .primary-header-box h3 {
  font-size: 16px;
  color: #3F3F44;
  letter-spacing: 0.34px;
  text-align: left;
  font-weight: 500;
  font-family: 'Omnes';
}

.primary-table-custom {
  padding: 0;
  margin: 0 0 5px 0;
  position: relative;
}

.primary-table-custom .primary-table-header {
  padding: 0;
  margin: 0 0 15px 0;
  position: relative;
}

.primary-table-custom .primary-table-header .column-div {
  padding: 0px 10px;
}

.primary-table-custom .primary-table-body {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 200px;
}

.primary-table-custom .tr-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.primary-table-custom .column-div {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.primary-table-custom .col-40 {
  width: 40%;
}

.primary-table-custom .col-20 {
  width: 20%;
}

.primary-table-custom .edit-col {
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.primary-table-custom h4 {
  font-weight: 500;
  font-family: 'Omnes';
  font-size: 14px;
  color: #3F3F44;
  margin: 0;
  padding: 0;
  position: relative;
}

.primary-table-custom p {
  font-weight: 400;
  font-family: 'Omnes';
  font-size: 14px;
  color: #3F3F44;
  margin: 0;
  padding: 0;
  position: relative;
}

.primary-table-custom .btn-general-edit {
  font-size: 14px;
  padding: 0 0px;
}

.primary-table-custom .primary-table-body .tr-div {
  background: rgba(111, 57, 150, 0.07);
  border-radius: 10px;
  padding: 0px 0px;
  margin: 0 0 6px 0;
}

.primary-table-custom .primary-table-body .column-div {
  padding: 7px 10px;
}

.primary-table-custom .primary-table-body p {
  white-space: nowrap;
  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
}

.primary-table-custom.primary-students-custom {
  min-height: 320px;
}

.empty-body-box-row {
  padding: 0;
  margin: 0;
  position: relative;
}

.empty-body-box-row .empty-student-box {
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  min-height: calc(100vh - 1000px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.empty-body-box-row .empty-image-box {
  padding: 0;
  margin: 0 auto;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.empty-body-box-row .empty-image-box .img-empty {
  padding: 0;
  margin: 0 auto 30px auto;
  width: 130px;
  height: 130px;
  -o-object-fit: contain;
     object-fit: contain;
}

.empty-body-box-row .button-add-box {
  padding: 0;
  margin: 0 auto;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.empty-body-box-row .btn-common-outline.btn-add-students {
  min-height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Omnes';
  min-width: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.empty-body-box-row .btn-common-outline.btn-add-students .img-emoji {
  width: 18px;
  height: 18px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 0 0 5px;
}

.primary-footer-box .print-button-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 10px 0 0 0;
  width: 100%;
}

/* Class Group  */
.class-group-root-div .form-div {
  min-height: auto;
}

.class-group-root-div .class-form-group {
  margin-bottom: 10px;
}

.class-group-root-div .class-form-group .form-group-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 480px;
  padding-left: 90px;
  width: 100%;
}

.class-group-root-div .class-form-group .form-group-row .btn-common-outline.btn-save-class {
  min-width: 60px;
  border-radius: 100px;
  min-height: 32px;
  padding: 5px 7px 3px 7px;
  border-width: 2px;
}

.class-group-root-div .class-form-group .form-group-row .button-group-div {
  padding-left: 30px;
  width: 90px;
}

.class-group-root-div .class-form-group .form-group-row .form-control {
  margin-top: 5px;
  min-height: 42px;
  font-weight: 500;
  font-size: 16px;
  background-color: #FFFFFF;
}

/* End of Class Group  */
@media (max-width: 767px) {
  .top-info-header-group-div {
    margin: 0 0 15px 0;
  }
  .primary-table-custom p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .primary-table-custom p:before {
    content: attr(data-title) ": ";
    font-weight: 500;
    float: left;
    line-height: 24px;
    margin: 0 10px 0 0;
  }
  .primary-table-custom .tr-div {
    padding: 8px 10px 6px 10px;
  }
  .primary-table-custom .col-40 {
    width: 100%;
  }
  .primary-table-custom .col-20 {
    width: 100%;
  }
  .primary-table-custom .primary-table-header {
    display: none;
  }
  .primary-table-custom .primary-table-body .tr-div {
    padding: 8px 10px 6px 10px;
  }
  .primary-table-custom .primary-table-body .column-div {
    padding: 2px 5px;
  }
  .primary-table-custom .primary-table-body .col-40 {
    width: calc(100% - 50px);
  }
  .primary-table-custom .primary-table-body .col-20 {
    width: calc(100% - 50px);
  }
  .primary-table-custom .primary-table-body .edit-col {
    padding: 0;
  }
  .primary-table-custom .primary-table-body .edit-col a.btn.btn-general-link.btn-general-edit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px;
  }
  /* Class Group  */
  .class-group-root-div .class-form-group .form-group-row {
    max-width: 100%;
    padding-left: 0;
    width: 100%;
  }
  .class-group-root-div .class-form-group .form-group-row .input-group-box {
    width: calc(100% - 75px);
  }
  .class-group-root-div .class-form-group .form-group-row .button-group-div {
    padding-left: 15px;
    width: 75px;
    text-align: center;
  }
  /* End of Class Group  */
}
/*# sourceMappingURL=dashboard.css.map */