@mixin omnes-family { font-family: 'Omnes'; }

.general-dashboard-section{ padding: 0; margin: 0; position: relative; 
    .general-dashboard-div { padding: 0px 0; margin: 0; position: relative;background-repeat: no-repeat; background-size: cover; background-position: right; }
    .background-color-main { margin: 0 auto; background-color: transparent; max-width: 100%; }
}
.general-account-root{ min-height: calc(100vh - 120px); padding: 10px 0; display: flex; align-items: flex-start; flex-direction: column; flex-wrap: wrap; justify-content: flex-start;  }

.main-dashboard-body{ padding: 10px 0 0 0; }

.box-heading-div{
    .title-heading-div{
        display: flex; justify-content: center; align-items: center; margin: 0 0 20px 0; flex-wrap: wrap;
        h2 { font-weight: 500; font-size: 18px; line-height: 22px; text-align: left; color: #3F3F44; letter-spacing: -0.42px; @include omnes-family();    white-space: normal; word-break: break-word; max-width: 440px;  }
        .edit-btn { display: flex; align-items: center; justify-content: center; margin: 0 0 0 15px; }
        .edit-icon { height: 16px; width: 16px; }
    }
}

.primary-common-box { background: #FFFFFF; border: 1px solid rgba(226, 208, 208, 0.5); box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0); border-radius: 4px; padding: 10px 15px; margin: 0 0 20px 0; 

    .primary-header-box{ padding: 0; margin: 0 0 15px 0; position: relative; 
        .primary-header-box-row { display: flex; justify-content: space-between; }
        h3 { font-size: 16px; color: #3F3F44; letter-spacing: 0.34px; text-align: left; font-weight: 500; @include omnes-family(); }
    }
    
}

.primary-table-custom{
    padding: 0; margin: 0 0 5px 0; position: relative;

    .primary-table-header{ padding: 0; margin: 0 0 15px 0; position: relative; 
        .column-div{  padding: 0px 10px; }
    }
    .primary-table-body{ padding: 0; margin: 0; position: relative; min-height: 200px; }

    .tr-div { display: flex; justify-content: space-between; flex-wrap: wrap; position: relative; }
    .column-div { width: 20%; display: flex; align-items: center; flex-wrap: wrap; }
    .col-40 { width: 40%;  }
    .col-20 { width: 20%; }
    .edit-col{ text-align: right; justify-content: flex-end;}

    h4 { font-weight: 500; @include omnes-family();  font-size: 14px; color: #3F3F44; margin: 0; padding: 0; position: relative; }
    p { font-weight: 400; @include omnes-family();  font-size: 14px; color: #3F3F44; margin: 0; padding: 0; position: relative; }
    .btn-general-edit{ font-size: 14px; padding: 0 0px; }

    .primary-table-body{
        .tr-div { background: rgba(111,57,150,0.07); border-radius: 10px; padding: 0px 0px; margin: 0 0 6px 0; }
        .column-div{  padding: 7px 10px; }
        p { white-space: nowrap; overflow: hidden; padding-right: 10px; text-overflow: ellipsis; }
    }
    
    &.primary-students-custom { min-height: 320px; }

}

.empty-body-box-row{
    padding: 0; margin: 0; position: relative; 

    .empty-student-box{ padding: 50px 0; margin: 0 auto; position: relative; min-height: calc(100vh - 1000px); display: flex; align-items: center; justify-content: center; flex-direction: column;  }

    .empty-image-box{ padding: 0; margin: 0 auto; position: relative; width: 100%; display: flex; justify-content: center;
        .img-empty { padding: 0; margin: 0 auto 30px auto; width: 130px; height: 130px; object-fit: contain; }
    }

    .button-add-box { padding: 0; margin: 0 auto; position: relative; width: 100%; display: flex; justify-content: center; }

    .btn-common-outline.btn-add-students {min-height: 39px; display: flex; align-items: center; font-size: 16px; font-weight: 500; @include omnes-family(); 
        min-width: 150px; justify-content: center; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.50);
        .img-emoji { width: 18px; height: 18px; object-fit: contain; margin: 0 0 0 5px; }
    }
    
}

.primary-footer-box{
    .print-button-right { display: flex; justify-content: flex-end; margin: 10px 0 0 0; width: 100%; }
}


/* Class Group  */

.class-group-root-div{
    .form-div{ min-height: auto;}
    .class-form-group{
        margin-bottom: 10px;
        .form-group-row{
            justify-content: center; margin: 0 auto; align-items: center; max-width: 480px; padding-left: 90px; width: 100%;
            .btn-common-outline.btn-save-class { min-width: 60px; border-radius: 100px; min-height: 32px; padding: 5px 7px 3px 7px; border-width: 2px; }
            .button-group-div { padding-left: 30px; width: 90px; }
            .form-control { margin-top: 5px; min-height: 42px; font-weight: 500; font-size: 16px; background-color: #FFFFFF; }
        }
    }

}





/* End of Class Group  */




@media (max-width: 767px) {

    .top-info-header-group-div {
        margin: 0 0 15px 0;
    }

    .primary-table-custom{

        p{ display: flex; align-items: center; width: 100%;
            &:before{ content: attr(data-title) ": "; font-weight: 500; float: left; line-height: 24px; margin: 0 10px 0 0; } 
        }

        .tr-div{ padding: 8px 10px 6px 10px; }
        .col-40 { width: 100%; }
        .col-20 { width: 100%; }

        .primary-table-header{ display: none; }

        .primary-table-body{
            .tr-div{ padding: 8px 10px 6px 10px; }
            .column-div{ padding: 2px 5px; }

            .col-40 { width: calc(100% - 50px); }
            .col-20 { width: calc(100% - 50px); }

            .edit-col{
                padding: 0;
                a.btn.btn-general-link.btn-general-edit { position: absolute; top: 0; right: 0; padding: 10px 10px; }
            }
            
        } 

    } 

    /* Class Group  */

    .class-group-root-div {
        .class-form-group {
            .form-group-row {
                max-width: 100%; padding-left: 0; width: 100%;

                .input-group-box { width: calc(100% - 75px); }
                .button-group-div { padding-left: 15px; width: 75px; text-align: center; }
            }
        }
    }
    

    

    /* End of Class Group  */



}

@media (min-width: 768px) and (max-width: 1024px) {



}


