@mixin omnes-family { font-family: 'Omnes'; }

/* Insight Dashboard CSS */

.log-overview-graph-div{ padding: 0; margin: 0; position: relative; 
    .log-overview-graph-root{
        padding: 15px 0; margin: 0 0 10px 0; position: relative;
    }

    .round-graph-div{
        padding: 0; margin: 0; position: relative; 
        .graph-img-thumb{ 
            display: flex; justify-content: center;    
            .img-graph { height: 160px; object-fit: contain; object-position: center; }
        }
    }

}

.log-overview-part-root{
    padding: 0; margin: 0; position: relative; 
    .log-overview-part-list{ padding: 0; margin: 0; position: relative;  }   

    .mood-field { display: flex; flex-wrap: wrap; margin-right: -10px; }
    .mood-icon{ height: 22px; width: 22px; }

    .mood-field-item {
        background: #FFFFFF; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); border-radius: 4px; width: calc(33.3% - 10px); margin: 0 10px 15px 0; padding: 10px 9px; display: flex; align-items: center;
        .mood-icon-box { display: flex; }
        .mood-text-box { width: calc(100% - 25px); padding: 0 0 0 6px; }
        span.mood-field-title { font-weight: 400; font-size: 14px; color: #3F3F44; @include omnes-family(); width: 100%; }
        .mood-field-percentage{ font-weight: 500; margin: 0 0 0 1px; }
    }
}

/* topics-box-root */

.topics-box-root{ margin: 0 0 10px 0; }

.topics-box-card { background: #FFFFFF; border: 1px solid rgba(226, 208, 208, 0.5); box-shadow: 0 1px 2px 0 rgba(0,0,0,0); border-radius: 4px; min-height: 195px; margin: 0 0 20px 0;

    .width-20{ width: 19.3%; }
    .width-33{ width: 33.3%; } 
    .width-40{ width: 39.3%; }
    .width-47{ width: 47.3%; }
    .width-66{ width: 66.6%; } 
    h4{ width: 100%; }
    p{ width: 100%; }

    .icon-mood-center { display: flex; justify-content: center; }
    .mood-icon{ height: 22px; width: 22px; }
    
    .topics-box-header {
        display: flex; justify-content: space-between; align-items: center; min-height: 40px; padding: 12px 15px; font-weight: 500; font-size: 14px; line-height: 20px; color: #3F3F44; border-bottom: 1px solid rgba(226, 208, 208, 0.5);
        .topics-row { width: 100%; display: flex; justify-content: space-between; }
        .topics-box-col-center { padding: 0 10px; text-transform: capitalize; display: flex; text-align: center; }
    }
    
    .topics-box-body{
        .topics-row { width: 100%; display: flex; justify-content: space-between; align-items: center;
            min-height: 38px; padding: 7px 15px; font-weight: 400; font-size: 14px; line-height: 19px; color: #3F3F44; border-bottom: 0px solid rgba(151, 151, 151, 0);
        }
        .topics-box-col-center { padding: 0 10px; text-transform: capitalize; display: flex; text-align: center; }
        p{ width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    }

}

/* End of topics-box-root */

.students-list-root {
    border: 1px solid rgba(226, 208, 208, 0.5); background-color: #FFFFFF; box-shadow: 0 1px 2px 0 rgba(0,0,0,0); border-radius: 4px; padding: 20px 15px; margin: 0 0 30px 0; position: relative;
    .header-box-div{ padding: 0; margin: 0 auto; width: 100%; position: relative; text-align: center; }
    .center-box { max-width: 200px; margin: 0 auto 30px auto; 
        h2 { font-size: 14px; font-weight: 500; padding: 5px 10px 12px 10px; border-bottom: 1px solid rgba(226, 208, 208, 0.4); color: #3F3F44; }
    }

}

.my-student-box { position: relative; display: flex; width: 100%; background: #FFFFFF; border: 1px solid rgba(226, 208, 208, 0.5); box-shadow: 0 2px 4px 0 rgba(0,0,0,0.17); border-radius: 4px;margin: 0 0 10px 0; align-items: center;  justify-content: space-between; transition: all 0.8s;
    .action-mood-box { padding: 0 3px; display: flex; align-items: center; width: 65px; justify-content: space-between;  }
    .stu-info-box{ width: calc(100% - 65px); }
    .link-full { width: 100%; display: flex; justify-content: space-between; align-items: center; padding: 15px;  }
    h3 { font-weight: 500; font-size: 14px; line-height: 20px; color: #3F3F44; margin: 0; padding: 0; display: block; width: 100%; @include omnes-family(); }
    p { font-weight: 400; font-size: 14px; line-height: 20px; color: #3F3F44; margin: 0; padding: 0; display: block; width: 100%; @include omnes-family(); }

    span.time-span {
        padding: 0 0 0 10px;
        position: relative;
        display: inline-block;
        &::before{ content: ""; position: absolute; top: 9px; left: 3px; height: 2px; width: 2px; border-radius: 100px; background-color: #3F3F44; display: inline-block; }
    }

    .mood-icon { height: 30px; width: 30px; }
    .flag-icon { height: 22px; }
    .play-icon { height: 20px; width: 20px; }



    &.active{  border: 2px solid #E25674; }
    &:hover{ border-color: #000;box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.17); }
}

.moods-by-day-graph-div {
    border: 1px solid rgba(226, 208, 208, 0.5); background-color: #FFFFFF; box-shadow: 0 1px 2px 0 rgba(0,0,0,0); border-radius: 4px; padding: 20px 15px; margin: 0 0 30px 0; position: relative;
    .header-box-div{ padding: 0; margin: 0 auto; width: 100%; position: relative;     text-align: center; }
    .center-box { max-width: 200px; margin: 0 auto 30px auto; 
        h2 { font-size: 14px; font-weight: 500; padding: 5px 10px 12px 10px; border-bottom: 1px solid rgba(226, 208, 208, 0.4); color: #3F3F44; }
    }

    .moods-by-day-box{
        padding: 0; margin: 0; position: relative;
        .moods-day-graph-inner { padding: 10px; }
        .img-moods-by-day { width: 100%; padding: 0; }
    }

}

/* End of Insight Dashboard CSS */

/* Insight Dashboard CSS */

.user-title-heading-text{
    padding: 20px 0 10px 0; margin: 0; position: relative;
    h3 { padding: 0; margin: 0 0 5px 0; width: 100%; font-weight: 500; font-size: 24px; color: #652D90; text-align: center; }
    p { padding: 0; margin: 0 0 5px 0; width: 100%; font-weight: 400; font-size: 16px; color: #3F3F44; text-align: center; }
}

.logs-detail-main-div{
    padding: 10px 0 10px 0; margin: 0; position: relative;
    .logs-detail-main-root { padding: 0px 0 0px 0; margin: 0; position: relative; }
}

.center-logs-details { max-width: 75%; width: 100%; margin: 0 auto; 

    .log-title-heading-box-center { margin: 10px 0 10px 0;
        h4 { font-weight: 500; font-size: 14px; line-height: 20px; color: #636363; margin: 0 auto 0px auto; padding: 0; text-align: center; display: block; }
    }    

    .logs-row { padding: 0 50px 0 50px; margin: 0 0 30px 0; }

}

.log-box {
    padding: 15px 15px 5px 15px; margin: 0 0 15px 0; background: #FFFFFF; border: 1px solid rgba(226, 208, 208, 0.5); box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0); border-radius: 4px; min-height: 55px; width: 100%; position: relative;

    span.mood-icon { height: 22px; width: 22px; }
    p { font-weight: 400; font-size: 14px; line-height: 22px; color: #3F3F44; }
    .bold-span{ font-weight: 500; }
    b{ font-weight: 500; }

    .log-top-box {
        padding: 0; margin: 0 0 5px 0; display: flex; align-items: flex-start;
        .log-icon-box { width: 32px; }
        .log-text-box-top { width: calc(100% - 32px); display: flex; align-items: flex-start; position: relative; }
        .log-left-text-box-top { width: 100%; padding: 0 50px 0 5px; }
        .flag-icon-box { position: absolute; top: 0; right: 0; }
        .flag-icon { height: 25px; }
    }

    .top-user-time-abs{
        .date-time-text { font-weight: 400; font-size: 12px; color: rgba(63, 63, 68, 0.6); letter-spacing: 0; position: absolute; top: 0; right: 0; }
    }

    .log-bottom-box { padding: 5px 0 10px 37px; margin: 0; position: relative; }

    .flag-icon-box-abs { position: absolute; left: -39px; top: 0; height: 100%; display: flex; align-items: center; justify-content: center; 
        .flag-icon { height: 24px; width: 24px; }
    }

    p.date-time-text-new {
        padding: 2px 0 0 0; font-weight: 400; font-size: 12px; color: rgba(63, 63, 68, 0.6);
        .time-span{ padding: 0 0 0 10px; position: relative; display: inline-block; 
            &:before{ content: ""; position: absolute; top: 10px; left: 3px; height: 2px; width: 2px; border-radius: 100px; background-color: rgba(63, 63, 68, 0.6); display: inline-block; }
        }
    }

}

.all-logs-detail-main-div{ padding-top: 25px; }

/* Topics inner */

.popular-topics-logs-detail-main-div{ padding-top: 25px; }
.flagged-topics-logs-detail-main-div{ padding-top: 25px; 
    .detail-logs-summary-div .heading-summary h3.detail-logs-summary-title{  color: #841238; }
}

.logs-details-topics-root{
    padding: 0; margin: 0; position: relative; display: flex; flex-wrap: wrap;
    .left-summary-box { width: 32%; position: relative; }
    .right-logs-div { width: 68%; position: relative; }

    .logs-row { padding: 0 0px 0 50px; margin: 0 0 30px 0; }
}

.detail-logs-summary-div {
    padding: 0px; margin: 0 auto 20px auto; background: #FFFFFF; border: 1px solid rgba(226, 208, 208, 0.5); box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0); border-radius: 10px; min-height: 75px; width: calc(100% - 40px); position: relative; min-height: auto;
    .span-block { display: block; }
    .heading-summary {
        padding: 15px; margin: 0; position: relative; border-bottom: 1px solid rgba(226, 208, 208, 0.5);
        h3.detail-logs-summary-title { margin: 0; padding: 0; font-weight: 500; font-size: 14px; line-height: 20px; color: #000000; }
    }
    .summary-ul-list {
        padding: 15px;
        ul{ list-style: none; }
        li{ font-weight: 400; font-size: 14px; line-height: 18px; color: #3F3F44; word-break: break-word; margin: 0 0 6px 0; }
    }
}

.log-title-heading-box{
    margin: 0 0 20px 0;
    h4 { font-weight: 400; font-size: 16px; line-height: 22px; color: #3F3F44; margin: 0 0 5px 0; padding: 0; }
}

/* End of Insight Dashboard CSS */

.insight-container-main-root{ 
    .container-inner-root { min-height: calc(100vh - 280px); }
}

.btn-show-more-center{ padding: 5px 0 20px 0;
    p { font-weight: 400; font-size: 14px; line-height: 20px; color: #3F3F44; text-align: center; margin: 0 0 5px 0 ; }
    .btn-row-div { display: flex; width: 100%; justify-content: center; flex-wrap: wrap; }
    .btn-common { background: #652D90; border-color: #652D90; font-weight: 500;
        &:hover, &:focus{ background: transparent; border-color: #652D90; color: #652D90; outline: none; } 
    }
}


@media (max-width: 767px) {

    .log-overview-graph-div {
        .round-graph-div {
            padding: 30px 0;
        }
    }
    
    .log-overview-part-root {
        .mood-field-item { width: calc(50% - 10px); margin: 0 10px 15px 0; padding: 10px; }
    }
    
    .moods-by-day-graph-div {
        .moods-by-day-box {
            .moods-day-graph-inner {
                padding: 0;
            }
        }
    }
    
    /* Topics inner */

    .logs-details-topics-root { flex-direction: column; 
        .left-summary-box { width: 100%; position: relative; }
        .right-logs-div { width: 100%; position: relative; }
    }

    .detail-logs-summary-div { min-height: auto; margin: 0 auto 30px auto; width: calc(100% - 60px); 
        .span-block { display: inline-block; }
    }


    /**  Update  */

    /*  individual student view  */

    .center-logs-details {
        max-width: 100%;
        .logs-row{ padding: 0 30px 0 30px; }   
    }

    .log-box {
        .flag-icon-box-abs { left: -32px;
            .flag-icon { height: 20px; width: 20px; }
        }
    }
    

    /* End of individual student view  */

    /*  popular view  */

    .logs-details-topics-root {
        .logs-row {
            padding: 0 30px 0 30px;
            margin: 0 0 30px 0;
        }
    }
    
    .log-title-heading-box {
        margin: 0 0 15px 0;
        h4 { font-size: 14px; }
    }

    
    /* End of popular view  */


    

}


@media (min-width: 768px) and (max-width: 1024px) {



}