/* Insight Dashboard CSS */
.log-overview-graph-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.log-overview-graph-div .log-overview-graph-root {
  padding: 15px 0;
  margin: 0 0 10px 0;
  position: relative;
}

.log-overview-graph-div .round-graph-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.log-overview-graph-div .round-graph-div .graph-img-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.log-overview-graph-div .round-graph-div .graph-img-thumb .img-graph {
  height: 160px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.log-overview-part-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.log-overview-part-root .log-overview-part-list {
  padding: 0;
  margin: 0;
  position: relative;
}

.log-overview-part-root .mood-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -10px;
}

.log-overview-part-root .mood-icon {
  height: 22px;
  width: 22px;
}

.log-overview-part-root .mood-field-item {
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: calc(33.3% - 10px);
  margin: 0 10px 15px 0;
  padding: 10px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.log-overview-part-root .mood-field-item .mood-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.log-overview-part-root .mood-field-item .mood-text-box {
  width: calc(100% - 25px);
  padding: 0 0 0 6px;
}

.log-overview-part-root .mood-field-item span.mood-field-title {
  font-weight: 400;
  font-size: 14px;
  color: #3F3F44;
  font-family: 'Omnes';
  width: 100%;
}

.log-overview-part-root .mood-field-item .mood-field-percentage {
  font-weight: 500;
  margin: 0 0 0 1px;
}

/* topics-box-root */
.topics-box-root {
  margin: 0 0 10px 0;
}

.topics-box-card {
  background: #FFFFFF;
  border: 1px solid rgba(226, 208, 208, 0.5);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0);
  border-radius: 4px;
  min-height: 195px;
  margin: 0 0 20px 0;
}

.topics-box-card .width-20 {
  width: 19.3%;
}

.topics-box-card .width-33 {
  width: 33.3%;
}

.topics-box-card .width-40 {
  width: 39.3%;
}

.topics-box-card .width-47 {
  width: 47.3%;
}

.topics-box-card .width-66 {
  width: 66.6%;
}

.topics-box-card h4 {
  width: 100%;
}

.topics-box-card p {
  width: 100%;
}

.topics-box-card .icon-mood-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topics-box-card .mood-icon {
  height: 22px;
  width: 22px;
}

.topics-box-card .topics-box-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  padding: 12px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #3F3F44;
  border-bottom: 1px solid rgba(226, 208, 208, 0.5);
}

.topics-box-card .topics-box-header .topics-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topics-box-card .topics-box-header .topics-box-col-center {
  padding: 0 10px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.topics-box-card .topics-box-body .topics-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 38px;
  padding: 7px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #3F3F44;
  border-bottom: 0px solid rgba(151, 151, 151, 0);
}

.topics-box-card .topics-box-body .topics-box-col-center {
  padding: 0 10px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.topics-box-card .topics-box-body p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* End of topics-box-root */
.students-list-root {
  border: 1px solid rgba(226, 208, 208, 0.5);
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 20px 15px;
  margin: 0 0 30px 0;
  position: relative;
}

.students-list-root .header-box-div {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
}

.students-list-root .center-box {
  max-width: 200px;
  margin: 0 auto 30px auto;
}

.students-list-root .center-box h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px 12px 10px;
  border-bottom: 1px solid rgba(226, 208, 208, 0.4);
  color: #3F3F44;
}

.my-student-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(226, 208, 208, 0.5);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  margin: 0 0 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.my-student-box .action-mood-box {
  padding: 0 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-student-box .stu-info-box {
  width: calc(100% - 65px);
}

.my-student-box .link-full {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.my-student-box h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #3F3F44;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  font-family: 'Omnes';
}

.my-student-box p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #3F3F44;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  font-family: 'Omnes';
}

.my-student-box span.time-span {
  padding: 0 0 0 10px;
  position: relative;
  display: inline-block;
}

.my-student-box span.time-span::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 3px;
  height: 2px;
  width: 2px;
  border-radius: 100px;
  background-color: #3F3F44;
  display: inline-block;
}

.my-student-box .mood-icon {
  height: 30px;
  width: 30px;
}

.my-student-box .flag-icon {
  height: 22px;
}

.my-student-box .play-icon {
  height: 20px;
  width: 20px;
}

.my-student-box.active {
  border: 2px solid #E25674;
}

.my-student-box:hover {
  border-color: #000;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.17);
}

.moods-by-day-graph-div {
  border: 1px solid rgba(226, 208, 208, 0.5);
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 20px 15px;
  margin: 0 0 30px 0;
  position: relative;
}

.moods-by-day-graph-div .header-box-div {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
}

.moods-by-day-graph-div .center-box {
  max-width: 200px;
  margin: 0 auto 30px auto;
}

.moods-by-day-graph-div .center-box h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px 12px 10px;
  border-bottom: 1px solid rgba(226, 208, 208, 0.4);
  color: #3F3F44;
}

.moods-by-day-graph-div .moods-by-day-box {
  padding: 0;
  margin: 0;
  position: relative;
}

.moods-by-day-graph-div .moods-by-day-box .moods-day-graph-inner {
  padding: 10px;
}

.moods-by-day-graph-div .moods-by-day-box .img-moods-by-day {
  width: 100%;
  padding: 0;
}

/* End of Insight Dashboard CSS */
/* Insight Dashboard CSS */
.user-title-heading-text {
  padding: 20px 0 10px 0;
  margin: 0;
  position: relative;
}

.user-title-heading-text h3 {
  padding: 0;
  margin: 0 0 5px 0;
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  color: #652D90;
  text-align: center;
}

.user-title-heading-text p {
  padding: 0;
  margin: 0 0 5px 0;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  color: #3F3F44;
  text-align: center;
}

.logs-detail-main-div {
  padding: 10px 0 10px 0;
  margin: 0;
  position: relative;
}

.logs-detail-main-div .logs-detail-main-root {
  padding: 0px 0 0px 0;
  margin: 0;
  position: relative;
}

.center-logs-details {
  max-width: 75%;
  width: 100%;
  margin: 0 auto;
}

.center-logs-details .log-title-heading-box-center {
  margin: 10px 0 10px 0;
}

.center-logs-details .log-title-heading-box-center h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #636363;
  margin: 0 auto 0px auto;
  padding: 0;
  text-align: center;
  display: block;
}

.center-logs-details .logs-row {
  padding: 0 50px 0 50px;
  margin: 0 0 30px 0;
}

.log-box {
  padding: 15px 15px 5px 15px;
  margin: 0 0 15px 0;
  background: #FFFFFF;
  border: 1px solid rgba(226, 208, 208, 0.5);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0);
  border-radius: 4px;
  min-height: 55px;
  width: 100%;
  position: relative;
}

.log-box span.mood-icon {
  height: 22px;
  width: 22px;
}

.log-box p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #3F3F44;
}

.log-box .bold-span {
  font-weight: 500;
}

.log-box b {
  font-weight: 500;
}

.log-box .log-top-box {
  padding: 0;
  margin: 0 0 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.log-box .log-top-box .log-icon-box {
  width: 32px;
}

.log-box .log-top-box .log-text-box-top {
  width: calc(100% - 32px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.log-box .log-top-box .log-left-text-box-top {
  width: 100%;
  padding: 0 50px 0 5px;
}

.log-box .log-top-box .flag-icon-box {
  position: absolute;
  top: 0;
  right: 0;
}

.log-box .log-top-box .flag-icon {
  height: 25px;
}

.log-box .top-user-time-abs .date-time-text {
  font-weight: 400;
  font-size: 12px;
  color: rgba(63, 63, 68, 0.6);
  letter-spacing: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.log-box .log-bottom-box {
  padding: 5px 0 10px 37px;
  margin: 0;
  position: relative;
}

.log-box .flag-icon-box-abs {
  position: absolute;
  left: -39px;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.log-box .flag-icon-box-abs .flag-icon {
  height: 24px;
  width: 24px;
}

.log-box p.date-time-text-new {
  padding: 2px 0 0 0;
  font-weight: 400;
  font-size: 12px;
  color: rgba(63, 63, 68, 0.6);
}

.log-box p.date-time-text-new .time-span {
  padding: 0 0 0 10px;
  position: relative;
  display: inline-block;
}

.log-box p.date-time-text-new .time-span:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 3px;
  height: 2px;
  width: 2px;
  border-radius: 100px;
  background-color: rgba(63, 63, 68, 0.6);
  display: inline-block;
}

.all-logs-detail-main-div {
  padding-top: 25px;
}

/* Topics inner */
.popular-topics-logs-detail-main-div {
  padding-top: 25px;
}

.flagged-topics-logs-detail-main-div {
  padding-top: 25px;
}

.flagged-topics-logs-detail-main-div .detail-logs-summary-div .heading-summary h3.detail-logs-summary-title {
  color: #841238;
}

.logs-details-topics-root {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logs-details-topics-root .left-summary-box {
  width: 32%;
  position: relative;
}

.logs-details-topics-root .right-logs-div {
  width: 68%;
  position: relative;
}

.logs-details-topics-root .logs-row {
  padding: 0 0px 0 50px;
  margin: 0 0 30px 0;
}

.detail-logs-summary-div {
  padding: 0px;
  margin: 0 auto 20px auto;
  background: #FFFFFF;
  border: 1px solid rgba(226, 208, 208, 0.5);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0);
  border-radius: 10px;
  min-height: 75px;
  width: calc(100% - 40px);
  position: relative;
  min-height: auto;
}

.detail-logs-summary-div .span-block {
  display: block;
}

.detail-logs-summary-div .heading-summary {
  padding: 15px;
  margin: 0;
  position: relative;
  border-bottom: 1px solid rgba(226, 208, 208, 0.5);
}

.detail-logs-summary-div .heading-summary h3.detail-logs-summary-title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.detail-logs-summary-div .summary-ul-list {
  padding: 15px;
}

.detail-logs-summary-div .summary-ul-list ul {
  list-style: none;
}

.detail-logs-summary-div .summary-ul-list li {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #3F3F44;
  word-break: break-word;
  margin: 0 0 6px 0;
}

.log-title-heading-box {
  margin: 0 0 20px 0;
}

.log-title-heading-box h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #3F3F44;
  margin: 0 0 5px 0;
  padding: 0;
}

/* End of Insight Dashboard CSS */
.insight-container-main-root .container-inner-root {
  min-height: calc(100vh - 280px);
}

.btn-show-more-center {
  padding: 5px 0 20px 0;
}

.btn-show-more-center p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #3F3F44;
  text-align: center;
  margin: 0 0 5px 0;
}

.btn-show-more-center .btn-row-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn-show-more-center .btn-common {
  background: #652D90;
  border-color: #652D90;
  font-weight: 500;
}

.btn-show-more-center .btn-common:hover, .btn-show-more-center .btn-common:focus {
  background: transparent;
  border-color: #652D90;
  color: #652D90;
  outline: none;
}

@media (max-width: 767px) {
  .log-overview-graph-div .round-graph-div {
    padding: 30px 0;
  }
  .log-overview-part-root .mood-field-item {
    width: calc(50% - 10px);
    margin: 0 10px 15px 0;
    padding: 10px;
  }
  .moods-by-day-graph-div .moods-by-day-box .moods-day-graph-inner {
    padding: 0;
  }
  /* Topics inner */
  .logs-details-topics-root {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logs-details-topics-root .left-summary-box {
    width: 100%;
    position: relative;
  }
  .logs-details-topics-root .right-logs-div {
    width: 100%;
    position: relative;
  }
  .detail-logs-summary-div {
    min-height: auto;
    margin: 0 auto 30px auto;
    width: calc(100% - 60px);
  }
  .detail-logs-summary-div .span-block {
    display: inline-block;
  }
  /**  Update  */
  /*  individual student view  */
  .center-logs-details {
    max-width: 100%;
  }
  .center-logs-details .logs-row {
    padding: 0 30px 0 30px;
  }
  .log-box .flag-icon-box-abs {
    left: -32px;
  }
  .log-box .flag-icon-box-abs .flag-icon {
    height: 20px;
    width: 20px;
  }
  /* End of individual student view  */
  /*  popular view  */
  .logs-details-topics-root .logs-row {
    padding: 0 30px 0 30px;
    margin: 0 0 30px 0;
  }
  .log-title-heading-box {
    margin: 0 0 15px 0;
  }
  .log-title-heading-box h4 {
    font-size: 14px;
  }
  /* End of popular view  */
}
/*# sourceMappingURL=dashboard.css.map */